[2017-08-08 12:02] kalabiyau opened #14 "introduce 100% coverage to be on par with connect"
We decided that 100% test coverage is valuable to the team, that's why we introduced

https://github.com/SUSE/connect/blob/master/spec/spec_helper.rb#L8

Here we should consider the same

[2017-08-08 12:18] ikapelyukhin commented on #14
SimpleCov measures coverage only in files that are used in tests, is possible to have whole files not covered with a single test with it.

[2017-08-17 14:14] kalabiyau commented on #14
@ikapelyukhin please refer to http://www.rubydoc.info/gems/simplecov/SimpleCov%2FConfiguration%3Atrack_files

[2017-08-17 15:04] ikapelyukhin commented on #14
@kalabiyau O-oh! Good stuff. :+1:
Yep, I'll set it up.

[2017-10-26 12:27] #14 closed

[2017-11-06 13:07] kevinrsalisbury opened #49 "SLES 12 SP3 rmt-cli scc sync error"
Nice project! I decided to test rmt on SLES 12 SP3. After configuring rmt.conf, starting rmt with no errors, and verifying the web server is accessible on port 4224, rmt-cli fails. I have double checked all settings in my rmt.conf. Am I missing a ruby dependency or something silly? Here's the error;

`kevin:/etc # rmt-cli scc sync
/usr/share/rmt/lib/rmt/scc.rb:13:in `sync': undefined method `usern

[2017-11-06 14:10] ikapelyukhin commented on #49
Hello, Kevin.

Thanks for taking the time to report the issue.

The config file is in YAML format, seems like there's an issue with the formatting. Could you please post your config file? (Please edit out your credentials)

The format for the `scc` section should be as follows:

[code]

Spaces must be used for indentation. This denotes a hash in YAML, which is what RMT expects.
I was able to repli

[2017-11-06 16:18] kevinrsalisbury commented on #49
Ah ha! I bet I forgot the spaces. I'm used to YAML configs, I know better. Eventually if there's a simple YAST module for this, most SLE admins will likely use that anyway. I will confirm this is the issue and report back. -Kevin

[2017-11-06 16:26] kevinrsalisbury commented on #49
Ivan,

That was the issue indeed. Thank you again for your efforts on this - we've grown a bit tired of some SMT issues with SLE of late, and having opensuse support is fantastic for those edge cases where we use it. We will continue to watch this project with interest, as well as test and report back any other issues.

`server:/ # rmt-cli scc sync`
`I, [2017-11-06T11:20:47.322331 #23801]  INFO --

[2017-11-06 16:28] #49 closed

[2017-11-06 16:45] kevinrsalisbury opened #50 "Allow for multiple targets"
Feedback for others who may try this: For a 0.1 Release, the quality of rmt is impressive. On several test and production SLE12 systems that were having issues with SMT and/or broken SUSEConnect issues - RMT just works. Server setup is easy (had one self inflicted YAML issue), client connections are very reliable (I can't break anything yet - believe me I've tried). I have performed some simple zy

[2017-11-08 15:30] kalabiyau commented on #50
Hi, @kevinrsalisbury

Thanks a lot for such thorough review, it is very heartwarming. https://scc.suse.com/team is definitely happy to have you as such an early adopter.

As for the enhancement, I think it totally makes sense. We certainly will evaluate it.
It very much possible that it will be aligned with SLES15 SP1 though, so that you know :)
If I understood your correctly you mainly this enhan

[2017-11-08 17:34] kevinrsalisbury commented on #50
Hi, @kalabiyau

I'm sure you probably weren't expecting a customer to try it so soon. But we've been fighting with SMT for so long on certain systems and we've also wanted to do something proper for openSUSE Leap as well, so again, we are extremely pleased with the direction of RMT and were very happy to see it in public view. We understand it's alpha code and subject to being dropped/rewritten. N

[2017-11-10 10:44] ikapelyukhin commented on #50
Hello, Kevin.

Could you please tell us more about the issues that you are experiencing with SMT? I think this knowledge help us avoiding those issues in RMT.

Thanks, Ivan.

[2017-11-22 16:54] kevinrsalisbury commented on #50
Ivan,

Sorry for the late response, I missed this reply somehow. In looking at our internal data, SMT server/clients have completely broken on us at least 14 times over the past 5 years, normally due to patches for other SLE issues not directly tied to SMT. (We routinely wondered if SMT was ever part of QA checks after SLE patches). Client/Server Private and Public Certificates in particular have

[2017-12-07 16:27] thutterer opened #55 "CLI commands "repos/products enable/disable" do too much but do not catch wrong user input"
We still don't catch RecordNotFound exceptions when a user calls `rmt-cli repos enable 123` and that ID is not in the database. Same for products. The fix is simple: Just look ahead in the database with `find_by(id: 123)`. But when I started adding this check, I found the method `change_repository_mirroring` already too complicated and hesitated to add another if-else.

What makes it (relatively)

[2017-12-07 17:18] ikapelyukhin commented on #55
IIRC, `repos enable 123` and `product enable 123` do different things: the former enables a repo with ID 123, the latter enables a product with ID 123. Both also accept the `product/version/arch` product string.

How to do it better is open for discussion, of course. Some user testing/other 3rd-party input would be nice. Let's ping @kalabiyau for starters :grimacing:

[2017-12-08 09:14] kalabiyau commented on #55
@ikapelyukhin I am planning a card where we will work with internal customers to see their feedback on usability. As well, there are plans to reach out to real customers and to see what do they think. For now, I believe we could live with simplest solution and improve it as we learn from users.

[2017-12-12 13:25] ikapelyukhin commented on #50
Let's keep the issue open until we properly address it.

[2017-12-15 08:18] thutterer opened #58 ""repos --all" should tell about "sync" when DB is still empty"
On an empy database (before the first `sync`)
[code]
currently outputs
[code]

But it should behave the same way than `products --all` which in this case already outputs
[code]

[2017-12-15 11:00] ikapelyukhin commented on #58
@thutterer A good issue for the trainees to work on? :grimacing:

[2017-12-21 15:22] fschueller opened #67 "DRY up 'list' method for repos and products"
Currently both `lib/rmt/repos.rb` and `lib/rmt/products.rb` have a `list` method that looks rather similar in its logic. Possibly, this can be refactored and moved into some shared method.

Might also solve #58

[2017-12-21 18:28] ikapelyukhin commented on #67
Please note that while similar, they do different things, see [this comment](https://github.com/SUSE/rmt/issues/55#issuecomment-350035067).

[2017-12-22 09:51] fschueller commented on #58
See https://github.com/SUSE/rmt/pull/63.

[2017-12-22 09:51] #58 closed

[2018-01-03 20:00] kevinrsalisbury commented on #55
@kalabiyau as a real customer using rmt, we're OK so long as it's clearly documented. If maintaining better code means rmt-cli repos/product enable repo/product **id** is the best way, then that's fine by us. Initial setup of rmt-server is so simple, picking the repo/product number from the list seems trivial to us, especially if the --help and man pages explain this.

[2018-01-03 20:04] kevinrsalisbury opened #73 "Possible to Move/Chante rmt-server repo path ( /var/lib/rmt/public/repo )?"
This is not an issue. It's a usability question:
If an admin testing rmt has mirrored so many products the server is now reaching dangerous space limitations, what to do? ;-) Is it possible to safely change the path of the rmt-server mirror repo to another directory, after a one-time rsync copy to say a NFS share?

[2018-01-03 21:23] ikapelyukhin commented on #73
Hello, Kevin. Feel free to move the directory, just create a symlink from `/var/lib/rmt/public/repo` to a new destination.

[2018-01-04 15:14] kalabiyau commented on #73
@kevinrsalisbury if you don't mind I close this issue. If you have any questions - feel free to re-open

[2018-01-04 15:15] kevinrsalisbury commented on #73
Ok yes, I figured that much, just wanted to make sure no know issues with nfs. I will try it and report if I find anything.

[2018-01-04 15:17] #73 closed

[2018-01-04 15:29] ikapelyukhin commented on #73
Kevin,

We've implemented file de-duplication recently (sometimes some of the files in different repositories might be exactly the same -- they'll be copied/hardlinked instead of being downloaded if you already have them).

Hard links probably won't work on NFS, this is why we have implemented copying as an alternative method of de-duplication (same as SMT). Please feel free to give it a try and l

[2018-01-09 12:34] kevinrsalisbury commented on #73
@ikapelyukhin @kalabiyau

OK. What am I missing here with NFS, I must be doing something silly. rmt-cli mirror keeps failing against the NFS share. I keep running into ruby fileutils.rb errors. This time it's chmod, last time it was utime and rmdir. I have a Suse NFS4 share setup with proper user ownership and permissions on /s1-salt/public (which contains all data formerly in /var/lib/rmt/public/

[2018-01-12 17:06] digitaltom opened #79 "enforce ruby 2.4.1 syntax"
I am receiving:

[code]

because .ruby-version has 2.4.1 so we can run on SLES12.
I did not find a way to enforce a ruby version syntax in rubocop.

[2018-01-16 17:24] ikapelyukhin commented on #79
@digitaltom, do you mean Ruby version 2.2? Because that's what is shipped in SLES12, and safe navigation operator has been added in version 2.3.

[2018-01-16 17:45] digitaltom commented on #79
doesn't work for me on 2.4.1, maybe because of the array syntax?

[2018-01-16 17:48] ikapelyukhin commented on #79
@digitaltom, `ruby -e 'foo = [555]; puts foo&.[](0)'` -- works on 2.4.1.
Please post the error message you are getting.

[2018-01-16 18:08] digitaltom commented on #79
Right, my root user was using ruby 2.1...

[2018-01-16 18:08] #79 closed

[2018-01-16 19:23] ikapelyukhin commented on #79
We still can look into using Ruby 2.2 syntax, so that RMT can work on SLES12 without having to install Ruby 2.4.

[2018-01-17 10:32] digitaltom commented on #79
if that's the only place to change that would be useful. But are you sure of 2.2? I can only see 2.1 on SLES12.

[2018-01-17 10:43] ikapelyukhin commented on #79
Not entirely sure, but I think `2.2` might be in some of the modules, while `2.4` I think is only available from OBS in some devel project.

[2018-01-18 15:39] lagartoflojo opened #80 "Dockerfile does not build"
[code]

[2018-01-22 14:48] ikapelyukhin opened #81 "Missing validation of the CLI input"
[code]

It would make sense to check all of the commands and make sure invalid input is correctly handled everywhere.

[2018-01-22 15:52] kevinrsalisbury opened #82 "Custom Non-SCC Mirroring with 'rmt-cli mirror'"
Please forgive me if this is obvious, but I need to clarify something;

Adding a non-SCC repo mirror: For example, if we add the non-SCC rmt repo for OpenSuse Leap 42.3, we run: rmt-cli mirror custom https://download.opensuse.org/repositories/systemsmanagement:/SCC:/RMT/openSUSE_Leap_42.3/ opensuse/rmt - this is only a one time event, correct? Subsequent runs of just 'rmt-cli mirror' will only mir

[2018-01-22 16:01] ikapelyukhin commented on #82
Hello, Kevin.

We are working on implementing a proper solution for managing custom repositories (see #76). However, the feature isn't complete yet and I think this code hasn't been packaged into an RPM.

`rmt-cli mirror custom` was implemented as a placeholder to demonstrate that mirroring of non-SCC repos is possible and it indeed doesn't save the repo for future runs of `mirror` command. It is

[2018-01-22 16:07] kevinrsalisbury commented on #82
Excellent, thanks Ivan.

[2018-01-22 16:09] #82 closed

[2018-01-23 10:48] ikapelyukhin commented on #80
Oh, it's from ye olden days and uses system-wide RPM dependencies. I'll look into building the image from source, maybe use OpenSUSE for the base image.

[2018-01-24 15:38] thutterer commented on #81
For your example, there is already #55 but I agree that we should check all commands in all wrong ways to make sure we don't throw stacktraces anywhere.

[2018-01-29 13:50] ikapelyukhin opened #87 "Raise CLI errors consistently"
We've got several CLI commands left that do something along the lines:

[code]

That isn't ideal, because that doesn't set the exit code. It would be better to raise `RMT::CLI::Error` instead, which is handled in `RMT::CLI::Base` to set the exit code and hide the stack trace.

[2018-02-01 14:23] thutterer opened #94 ""enable" and "disable" commands should output the "what""
Currently when you, let's say, enable a product, RMT outputs something like
`3 repositories enabled` but it does not tell you which ones. So if you by accident enter a wrong product id, you might think your action was successful, even though you just enabled wrong repos.

Plus, when you enable the same product another time, RMT tells you `0 repositories enabled`, just because they were already ena

[2018-02-12 11:39] ikapelyukhin opened #97 "Mirroring breaks if one of the repos has malformed metadata"
I.e. if HTML is returned instead of `directory.yast` in one of the repos, that breaks the whole mirroring process:

[code]

Ideally, the affected repo should be skipped and mirroring would continue.

[2018-02-16 01:54] kevinrsalisbury opened #103 "NCC logins / repos"
[https://www.novell.com/documentation/open-enterprise-server-2018/inst_oes_lx/data/bmu0fem.html](url)

If SCC logins are supported, will NCC logins and repositories be supported as well?

[2018-02-16 09:06] ikapelyukhin commented on #103
Hello, Kevin.

There are no plans to support NCC at this moment.

Thanks, Ivan.

[2018-02-16 09:06] #103 closed

[2018-02-19 19:30] kevinrsalisbury opened #107 "Permission Denied - NFS Share"
I believe I'm using the latest build, however I receive a permission denied using rmt-cli mirror. Obviously I'm doing something wrong, but what? RPM version status (from zypper), sample rmt-cli mirror error, and permissions checks are below;

Information for package rmt-server:
-----------------------------------
Repository     : systemsmanagement:SCC:RMT (SLE_12_SP3)
Name           : rmt-server
V

[2018-02-20 10:57] ikapelyukhin commented on #107
Hello, Kevin.

Could you please check the ownership of `/usr/share/rmt/public/repo/novell/sle12/` and `/usr/share/rmt/public/repo/novell/sle12/repodata` directories? They should be owned by `_rmt:nginx`.

RMT downloads fresh metadata into a temporary directory, then proceeds to download the RPM packages, at the end of the mirroring process it moves old metadata (`/usr/share/rmt/public/repo/novell/

[2018-02-20 13:00] keichwa opened #109 "Starting mysql on Leap 42.3"
In the README you say:

[code]

But this results in this error msg on my installation:

[code]

I tried to start it first with `systemctl start mysql`, but creating the DB user still fails with:

[code]

Can you please enhance the README?

[2018-02-20 13:03] kevinrsalisbury commented on #107
Hi Ivan,

Looks good;
<...>
drwxr-xr-x 4 _rmt nginx 34 Feb 19 14:14 sle12
<...>
drwxr-xr-x 2 _rmt nginx 4096 Feb  2 10:24 repodata
<...>
Yes, they were owned by root. I did force a ownership change from root prior to running rmt-cli mirror. The user/group combo also exists on the NFS server itself. Admittedly I'm so used to root everywhere for NFS, it's likely here that I am doing something incorr

[2018-02-20 13:08] ikapelyukhin commented on #109
Hello, Karl.

What changes do you suggest we make?

Please make sure that MariaDB is running and that you can access it as DB root user (i.e., that you can access the root console by running `mysql -u root -p`).

There also might be an issue with the version of MariaDB package you are running, I recall that older versions of the package on SLES12 require additional setup steps, such as running `my

[2018-02-20 13:16] ikapelyukhin commented on #107
Hello, Kevin.

Are you able to mirror anything else successfully? Is that the only repository that is failing?

I would suggest removing just the `/usr/share/rmt/public/repo/novell/sle12/repodata` and `/usr/share/rmt/public/repo/novell/sle12/.old_repodata` directories.

If you want to try to troubleshoot the issue you could log in as `_rmt` (`su - _rmt`) and try renaming `/usr/share/rmt/public/rep

[2018-02-20 13:39] keichwa commented on #109
It starts for me on Leap 42.3 if I enter this sequence:

`systemctl start mysql`
`mysqladmin -u root password <xxx>`
[code]
and as password enter `<xxx>`.  (Instead of `<xxx>` use your password).  Thus it would probably help if you say first:

=================================================================================
Make sure that MariaDB is running and that you can access it as DB root us

[2018-02-20 13:48] kevinrsalisbury commented on #107
We are getting closer. I can't login as _rmt on the rmt-server. I don't seem to have the _rmt password documented. Thought it was defined in rmt.conf, but that's for the database requirement of rmt-server, not rmt-cli. (So the NFS server user _rmt does not match my rmt-server server user _rmt - which may not matter here for this issue.)

Where can I find/define the _rmt password for rmt-cli (besid

[2018-02-20 13:59] ikapelyukhin commented on #107
`_rmt` is a system user (see `-r` flag in `man useradd`) that gets added during installation of `rmt-server` package. It doesn't have a password and it has `/bin/false` as its login shell.

You'd actually need to run `su -s /bin/bash - _rmt` as root or `sudo su -s /bin/bash - _rmt`.

I'm not sure what kind of set up would be required for the NFS server for this setup to work correctly.

[2018-02-20 14:26] kevinrsalisbury commented on #107
Ivan - you'd nailed the issue;

_rmt@server:/usr/share/rmt/public/repo/novell/sle12/> mkdir test
mkdir: cannot create directory ‘test’: Permission denied

I'll research system user permissions and NFS shares and report back.

[2018-02-20 14:28] #109 closed

[2018-02-20 14:30] ikapelyukhin commented on #109
Thanks for letting us know. I've updated the documentation.

[2018-02-20 14:53] ikapelyukhin commented on #107
Kevin, you could also configure RMT to run as root, please check `cli` section `/etc/rmt.conf`:
[code]

[2018-02-20 14:56] ikapelyukhin commented on #107
(`_rmt` user is hard-coded into the systemd units, however -- so that might lead to some unexpected issues)

[2018-02-20 16:59] kevinrsalisbury commented on #107
Ivan - as root (/etc/rmt.conf) rmt-cli mirror works fine against the NFS mount. We can close this if you like. I'll note: System user _rmt still fails and I haven't quite found the options to set the NFS mount to allow for system users anything but read-only access to the NFS mount. My rmt-server is SLES 12 SP3 using systemd of course...any idea what the issues might be? It's mirroring now - will

[2018-02-21 09:38] ikapelyukhin commented on #107
Hello, Kevin.

My guess would be that in the simplest case you'd need to set a mapping of UIDs in `/etc/nfs.map`.
Could you let me know which configuration options have you tried changing? What would you typically do for a user that has a password?

It would also be possible for you to just change the password of `_rmt` user.

Thanks, Ivan.

[2018-02-21 11:51] kevinrsalisbury commented on #107
Ivan,

OK, thanks. At this point, I'm going to 'nuke and pave'. I think I've been through too many development version upgrades on this test server. Since the latest upgrade, I've had nothing but errors piled upon errors and I can't help but think it's just my environment. ;) I'll document a fresh install on a fresh SLE 12 SP3 server and report back. Let's close this please.

server:~ # rcrmt stat

[2018-02-21 11:51] #107 closed

[2018-02-21 13:05] ikapelyukhin commented on #107
Sorry for your trouble. Looks like the DB migration is failing. RMT is under heavy development at the moment, especially in areas related to packaging, systemd integration, etc.
Please let us know if you run into any other issues.

[2018-02-21 20:02] kalabiyau commented on #97
@ikapelyukhin could you please check if that file is listed by repomd.xml and send me that repository somehow. I believe we could ensure that repos are valid at the time we publish the product in SCC.

[2018-02-21 22:06] ikapelyukhin commented on #97
@kalabiyau in my case the issue was caused by a custom repo.

[2018-03-12 11:19] ikapelyukhin opened #112 "Nicer error message when export directory isn't writable"
As reported by @keichwa, when export directory isn't writable export command produced a traceback.
It would be have a nicer error message suggesting to make sure that the export directory is writable by RMT.

[code]

[code]

[2018-03-13 15:07] ikapelyukhin opened #113 "Wrong root in nginx config"
Based on the report from QA: [current nginx config](https://github.com/SUSE/rmt/blob/e8303a20e8ae938aad645dfeb749b3425d7d4204/package/rmt-server.conf#L10) uses `/var/lib/rmt/public` as a root directory.

`rmt-cli` commands download the files into `/usr/share/rmt/public`, which is a symlink to `/var/lib/rmt/public`.

If the user needs to download files somewhere else, they would change the `/usr/sh

[2018-03-13 15:31] #113 closed

[2018-03-20 10:49] lagartoflojo opened #116 "test"
test

[2018-03-20 10:50] #116 closed

[2018-03-21 09:09] lagartoflojo opened #117 "Mirroring sometimes fails with "No such file or directory""
From the logs of `rmt-server-mirror.service`:

[code]

[2018-03-21 09:18] ikapelyukhin commented on #117
Interesting, I'll take a look -- maybe something's fishy about the yast metadata file.
@lagartoflojo Can the issue be isolated only this repo? Does it happen every time?

[2018-03-21 09:27] lagartoflojo commented on #117
@ikapelyukhin I'm not sure, I didn't investigate further =/

[2018-03-21 11:13] ikapelyukhin opened #118 "RMT doesn't clean up temporary directories"
After running RMT for some time:

[code]

[2018-03-27 16:07] ikapelyukhin opened #123 "Packaging broken for Ruby 2.5"
Running `make dist` fails with the following error:

[code]

:scream:

[2018-03-28 15:13] ikapelyukhin opened #124 "Uninitialized constant 500 error"
`ParameterMissingTranslated` probably isn't loaded for some reason. However, used only once in the code and probably should be replaced with `TranslatedError`.

[code]

[2018-04-04 11:38] lagartoflojo opened #127 "Make it easier to delete local repository copies"
In addition to the "rmt-cli repos disable" or rmt-cli products disable" commands, RMT could have a way of removing repos that are no longer needed from local storage.

Originally from: https://bugzilla.suse.com/show_bug.cgi?id=1087785

[2018-04-04 11:46] ikapelyukhin commented on #127
SMT has the following:

[code]

[2018-04-04 11:54] lagartoflojo commented on #127
Instead of actually implementing a "delete" command, we could also just print out where the repos are on the disk when calling `repos disable` or `products disable`. That gives users the chance to quickly remove the files if they want to.

[2018-04-04 13:38] lagartoflojo opened #128 "Is the systemd rmt.service set up right?"
From `journalctl -fu rmt`:

[code]

I looked into this a bit, and it seems that we're not using the recommended way for starting the Rails server (puma) with systemd. We use `type=forking` instead of `type=simple`.

[This is the recommended configuration](https://github.com/puma/puma/blob/master/docs/systemd.md#service-configuration) according to the Puma docs.

Is there a reason we do it differen

[2018-04-04 13:45] ikapelyukhin commented on #128
Not sure why exactly it is set to `forking`, I think the unit migrated into RMT repo from provisioning and that's how it is since then.
`type=simple` would make it a foreground process, which I guess is what we would want anyway for collecting logs with `jounralctl`.

[2018-04-04 13:59] lagartoflojo commented on #128
Right, but "daemonized" by systemd.

@tmuntan1 I think you implemented it first, do you remember why we used `type=forking`?

[2018-04-04 14:02] tmuntan1 commented on #128
@lagartoflojo, I have no idea @ikapelyukhin created the file.

https://github.com/SUSE/rmt/commit/15c9051054485cb95572e8b04f66ab9813197f15#diff-f1101fb4f8ef50afe7e3c82f4269752c

[2018-04-04 14:06] ikapelyukhin commented on #128
@lagartoflojo there seems to be no reason not to switch to `simple`. Let's do it then!

[2018-04-04 14:07] lagartoflojo commented on #128
Okidoke! Will do.

[2018-04-06 10:04] #118 closed

[2018-04-06 10:14] #128 closed

[2018-04-09 12:34] mcalmer opened #131 "rmt-cli products enable <ID> should enable recommeded repos"
With SLE15 we introduced recommended modules. It makes sense to enable them by default when a product is enabled for mirroring.

An option `--without-recommeded` should exist to disable this feature.

[2018-04-16 12:45] #124 closed

[2018-04-23 14:27] ikapelyukhin commented on #131
Implemented in #141.

[2018-04-23 14:27] #131 closed

[2018-04-23 15:08] ikapelyukhin commented on #123
Fixed in #140.

[2018-04-23 15:08] #123 closed

[2018-04-23 15:22] ikapelyukhin opened #144 "Changing user and group likely to cause problems"
Currently it's possible to specify the user and group for `rmt-cli` commands to run with in the config:

https://github.com/SUSE/rmt/blob/6e2867b03797589a8722664babd0c856b95da89f/package/rmt.conf#L23-L25

However, the service that starts puma with the permissions specified in the service file:

https://github.com/SUSE/rmt/blob/6e2867b03797589a8722664babd0c856b95da89f/package/rmt.service#L10

This

[2018-04-25 13:09] ikapelyukhin opened #148 "Serializer not being invoked correctly"
Looking at the output of `/connect/systems/activations`:

[code]
* `"eula_url":"https://updates.suse.com/SUSE/Products/SLE-SERVER/12-SP3/x86_64/product.license/"` -- hostname should have been replaced with RMT hostname;
* `"free":false"` -- should always be `true`

Seems like the issue is caused by `has_one` relationship in ActiveSerializer.

[2018-04-25 15:40] tmuntaner commented on #144
@ikapelyukhin I would vote for option 1.
Allowing to change the user might make the supported scenario more confusing.

[2018-05-03 13:31] tmuntaner opened #155 "Better warning for FAT mkdir with special characters"
Currently, if you try to mirror a repository with a `:` in the url, a FAT drive will fail to make the directory structure.

Example:
[code]

The warning should make it more clear that the reason why the command failed is because of their FAT drive.

[2018-05-08 09:50] ikapelyukhin opened #162 "Rollback broken"
Data that is sent by Yast:

[code]

The product version isn't being cleaned up, so RMT searches for `12.3-0` in the DB -- which results in `Product not found` error.

This might be fixed in Yast for SLES15, but SLES12 versions of Yast/zypper might be affected by this.

[2018-05-09 15:13] ikapelyukhin opened #165 "Warning after RPM package installation"
After installing the package the following message is shown:

[code]

During installation we are calling `rails` binary, that's probably where this output is produced:

https://github.com/SUSE/rmt/blob/359e1e8554773969ed0d4adb92ed6ab4cf425df0/package/rmt-server.spec#L222-L223

[2018-05-11 13:35] thutterer commented on #144
@tmuntaner This can be closed now, right?

[2018-05-11 13:41] thutterer commented on #127
https://github.com/SUSE/rmt/issues/127#issuecomment-378573900 could be done as part of #94

[2018-05-15 08:17] ikapelyukhin commented on #144
Yep, should be fixed now.

[2018-05-15 08:17] #144 closed

[2018-05-16 15:00] ikapelyukhin commented on #162
Fixed by #166.

[2018-05-16 15:00] #162 closed

[2018-05-18 10:04] lagartoflojo opened #178 "Improve handling of Settings"
This discussion started here: https://github.com/SUSE/rmt/pull/177

I'm not a fan of `try` (nor ruby's safe operator `.&`)..
It basically makes code insecure about itself... is the thing there? or is it not? :scream: if it's not, you have to check for `nil`s all over the place. => Sadness.
When working with the `Settings` object, our code is littered with `Settings.try(:foo)` to check if the setti

[2018-05-18 14:56] #165 closed

[2018-06-06 13:07] ikapelyukhin opened #189 "RMT::Mirror needs refactoring"
https://github.com/SUSE/rmt/blob/8c3e0d2223416a6a8380a73a4f4bcaec3b61f6e5/lib/rmt/mirror.rb#L43-L55

* It doesn't have to be a static method:
  * No reason to be re-instantiated for every repo
  * The constructor should not take `repository_url` and `auth_token` parameters, `mirror` should take them instead
* What's `uri` and how is it different from `repository_url`?

[2018-06-06 13:23] ikapelyukhin commented on #189
https://github.com/SUSE/rmt/blob/8c3e0d2223416a6a8380a73a4f4bcaec3b61f6e5/lib/rmt/cli/base.rb#L97-L105

Seems like a weird place for this code to be.

[2018-06-12 14:23] thutterer commented on #97
@kalabiyau This also happens when one repo has an invalid checksum. Saw this happening on reference host:

[code]

We should catch that and let RMT continue mirror other repos instead :ghost:

[2018-06-21 08:36] ikapelyukhin commented on #189
Fixed in #192.

[2018-06-21 08:36] #189 closed

[2018-06-26 09:30] ikapelyukhin commented on #97
Fixed by #193.

[2018-06-26 09:30] #97 closed

[2018-07-09 11:57] thutterer opened #202 "Move business logic away from CLI code"
I was experimenting with a web interface for RMT ([ :link:](https://hackweek.suse.com/17/projects/practice-react-and-material-ui-on-an-experimental-rmt-web-interface))

And then I found this logic in the CLI code classes:
https://github.com/SUSE/rmt/blob/bca4800d31e0b651d6eefa6ee47572b3fd1c5c54/lib/rmt/cli/products.rb#L64-L69

While this is not a real problem while we only have one CLI and no othe

[2018-08-15 12:17] ikapelyukhin opened #210 "Clean up extra DB columns"
`guid`, `secret` and `target` in `systems` table are empty and unused, drop them! :fire::fire::fire:

[2018-08-27 10:49] roolebo opened #216 "Missing Debuginfo-Pool/Debuginfo-Updates/Source-Pool repos for all products"
We're running into an issue where rmt mirrors only `PRODUCT-Pool` and `PRODUCT-Updates` repos. It's possible to fetch source RPMs for `PRODUCT-Updates` if `mirror_src` is set but I'm struggling to find how to mirror`PRODUCT-Debuginfo-Pool`, `PRODUCT-Debuginfo-Updates` and `PRODUCT-Source-Pool` repos for each configured product.

FWIW, I can see the repos I'm looking for in `repositories` table of

[2018-08-27 11:15] ikapelyukhin commented on #216
Hello, Roman.

Have you enabled mirroring of debuginfo repos? (Are they in the output of `rmt-cli repos list`?)

`rmt-cli product enable` command does not enable mirroring of debuginfo repos, you can enable mirroring of debuginfo repos manually:

1. Find the IDs of the repos you need in the output of `rmt-cli repos list --all | grep -i debuginfo`
2. Enable each debuginfo repo individually with `rm

[2018-08-27 11:43] roolebo commented on #216
@ikapelyukhin alright, `--all` option shows all the repos I was looking for. Thanks so much!

I think the issue can be closed.

[2018-08-27 12:00] #216 closed

[2018-09-07 13:01] lagartoflojo commented on #67
@fschueller do you think this is still an issue?

[2018-09-07 13:05] lagartoflojo commented on #117
This has not happened again, so it can be closed.

[2018-09-07 13:05] #117 closed

[2018-10-10 14:26] donaldsolberg opened #232 "rmt-cli repo list --all --csv headers request"
For the csv export, would be beneficial to export with headers to import into spreadsheet. "--headers"

[2018-10-15 09:13] ikapelyukhin opened #233 "Use `repomd_parser` Gem"
I have split off the code that parses repository metadata into a separate gem -- `repomd_parser` [[1](https://rubygems.org/gems/repomd_parser)] [[2](https://github.com/ikapelyukhin/repomd-parser)], mostly to make it possible to use in [repo-tools](https://github.com/ikapelyukhin/repo-tools).

I've done some refactoring in the gem and added access to some more metadata attributes. It would be cool

[2018-10-16 12:55] wstephenson commented on #233
Is there no existing ruby gem to do this, eg from yast?

[2018-10-16 13:00] ikapelyukhin commented on #233
@wstephenson well, I haven't found anything -- you are welcome to give another shot at searching, though.

[2018-11-07 15:33] ikapelyukhin opened #240 "Some CLI shortcuts break"
1. `rmt-cli p e sles/15/x86_64` -- works.
2. `rmt-cli p l` -- breaks with:

[code]

This mapping probably needs to be a string instead of a symbol:

https://github.com/SUSE/rmt/blob/bb928ca9b765249b0f3c05c447438c1037b141d7/lib/rmt/cli/products.rb#L36

Same for other Thor command mappings.

[2018-11-08 09:53] ikapelyukhin opened #243 "Configurable log level"
Currently the log level is set to `:debug` in `production.rb`, which generates large amount of log messages:

https://github.com/SUSE/rmt/blob/ee5802c3afadceeee4c7d8795a6ab45e0f4871d1/config/environments/production.rb#L22

It would be good to have the log level setting in `/etc/rmt.conf` and have a lower verbosity level by default.

[2018-11-26 16:14] ikapelyukhin opened #276 "Broken system registration state when the base product is not fully mirrored"
First registration attempt:

[code]

Enabled the repos on RMT, second registration attempt:

[code]

At this point turns out that `/etc/zypp/credentials.d/SCCcredentials` file was written, however `/etc/SUSEConnect` with RMT server URL wasn't, so de-registration isn't possible:

[code]

We could check if the product is fully mirrored during `announce` API call (the base product data should be pres

[2018-12-04 12:45] tmuntaner commented on #94
@thutterer if this still an issue for you?

[2018-12-04 12:53] tmuntaner commented on #55
@thutterer I think that we will keep the product id and string for the foreseeable future, as `rmt-cli products enable sles/15` will enable all architectures and a product id does not.

With the updates to `rmt-cli products enable`, do you still see the need to do something or can we close this?

[2018-12-04 12:57] tmuntaner commented on #81
@ikapelyukhin Can you verify that you still have an issue here?

[code]

[2018-12-04 13:41] tmuntaner commented on #127
@lagartoflojo I'm not sure if we want to do this with deduplication in place.

If a user deletes a directory that has a package used in symlinks, other products using that symlink could be broken. This would be fixed in the next mirror, but I'm not sure if we should find that "downtime" acceptable.

[2018-12-04 14:21] ikapelyukhin commented on #127
@tmuntaner but there are no symlinks? It's only hardlink or copy.

[2018-12-04 14:59] ikapelyukhin commented on #81
@tmuntaner Yep, looks like it got fixed alongside with enabling/disabling multiple products/repos :+1:

[2018-12-04 14:59] #81 closed

[2018-12-04 15:12] tmuntaner commented on #127
@ikapelyukhin You're right, you can ignore my previous comment ^_^

[2018-12-05 13:08] thutterer commented on #94
It's much better now.

[2018-12-05 13:08] #94 closed

[2018-12-05 13:12] tmuntaner commented on #50
@kevinrsalisbury Hi Kevin,

Enabling multiple products/repositories was implemented in https://github.com/SUSE/rmt/pull/284 and https://github.com/SUSE/rmt/pull/239. These changes should make it into the next release and I hope they'll help you.

Thanks,
Thomas Muntaner

[2018-12-05 13:54] tmuntaner commented on #240
@ikapelyukhin We just merged in a fix, do you mind seeing if you still have this issue?

[2018-12-05 15:06] ikapelyukhin commented on #240
Looks good :+1:

[2018-12-05 15:06] #240 closed

[2018-12-11 12:02] tmuntaner commented on #50
I'm closing this issue as the new features is in master. If feel the new feature doesn't solve your issue, please feel free to reopen.

[2018-12-11 12:02] #50 closed

[2018-12-11 12:04] #210 closed

[2018-12-11 16:02] tmuntaner commented on #55
@thutterer can I close this issue?

[2019-01-03 13:45] NeimadTL commented on #202
Hi @thutterer, I just know some basics in Ruby and Rails and I was wondering if a scope in the Product model would do the job for that ?

[2019-01-04 13:47] thutterer commented on #202
Hi @NeimadTL, well, scoping allows you to specify commonly-used queries, so yes, we probably could use a scope instead of the `recommended_extensions` class method of the Product model, but that alone wouldn't solve that the cli/products.rb also calls `repository_service.change_mirroring_by_product!(set_enabled, products.uniq)` directly.

[2019-01-04 14:02] NeimadTL commented on #202
Ok. I thought you were only talking about the code from L64 to L69. I'll do my best and I'll see what I can come up with.

why is it a problem that cli/products.rb calls `repository_service.change_mirroring_by_product!(set_enabled, products.uniq)` ?

[2019-01-04 16:01] thutterer commented on #202
Not so long ago @tmuntaner and I had an in person conversation about this issue, when we touched this file, and agreed on not abstracting this further, as long as there is no real case to do so. And that is as long as we only have the CLI and no other means of controlling an RMT, like a web interface that would call Rails controller actions.

From there, we would need also access to the same, ment

[2019-01-07 08:49] #155 closed

[2019-01-07 08:50] #55 closed

[2019-01-16 16:25] thutterer commented on #202
Apologies for the late response!
Also for not checking the latest master branch before my earlier responses.

Because, if you look at https://github.com/SUSE/rmt/blob/master/lib/rmt/cli/products.rb, the logic around product en/disabling has grown in complexity quite a lot since this issue was opened.

So refactoring this in a way that it is more reusable *and more simple* got even harder.

Here, I

[2019-01-22 10:56] NeimadTL commented on #202
Thank you for the very detailed explanation.
Thanks for suggesting #127, I'll take a look at it ;)

[2019-01-24 11:23] ikapelyukhin opened #315 "Clean up sources in RPM spec file"
There's a bunch of files that are referenced as `SourceN` in RPM spec:

https://github.com/SUSE/rmt/blob/5b1886fc26bf183970a53be373ebd82d8a8abc64/package/rmt-server.spec#L37-L53

https://github.com/SUSE/rmt/blob/5b1886fc26bf183970a53be373ebd82d8a8abc64/package/rmt-server.spec#L145

Now there are quite a lot of them. We can package them into the tarball and reference by name instead.

[2019-02-01 11:36] tmuntaner opened #320 "Provide checksum of `rmt-client-setup`"
Clients download the `rmt-client-setup` script over http. We should provide a checksum file that they can verify the downloaded file and avoid a man in the middle.

**Ideas**:
* Build this with `Make`
* @thutterer This checksum could be on the static RMT page.

[2019-02-05 16:34] #148 closed

[2019-02-06 13:43] ikapelyukhin commented on #320
Include the code to accept certificates in SUSEConnect (there's already code for handling SSL-related exceptions there) and make `rmt-client-setup` obsolete! :grimacing:

[2019-02-12 14:48] NeimadTL commented on #127
Hi guys, I'd like to take this one as @thutterer suggested me last time on [#202](https://github.com/SUSE/rmt/issues/202) . Can somebody tell me where to start please ?

[2019-02-13 15:11] ikapelyukhin commented on #127
@NeimadTL At the moment there's no way to remove repositories that are no longer needed (repositories that are disabled for mirroring). Another issue is that repositories accumulate old packages over time: new versions of packages come out, repository metadata references new packages only -- which means that old packages become effectively inaccessible by client machines, but they are still stored

[2019-02-13 19:23] NeimadTL commented on #127
Hi @ikapelyukhin, thank you for your guidance. I think I'll definitely have a lot more questions so I'll reach out to you one way or another tomorrow. No need to ask them here.

[2019-02-20 10:44] ikapelyukhin opened #334 "`rmt-cli mirror` doesn't set exit code on errors, unit doesn't enter failed state"
Currently `rmt-cli mirror` continues to mirror repositories even if errors are encountered. However, it doesn't set exit code if errors were encountered, as the result `systemd` unit doesn't enter failed state. It is hard to tell if mirroring was successful or not, there are a lot of info messages displayed and it's hard to find error messages.

SMT displayed error summary at the very end with the

[2019-02-20 10:51] ikapelyukhin opened #335 "Database entries are not created for imported repo files"
If repo files already exist on the disk during mirroring (e.g., they were copied over from SMT), they are simply skipped during mirroring, no entries are created in `downloaded_files` table as it would normally happen if files were downloaded.

[2019-02-20 11:07] ikapelyukhin opened #336 "Supply message severity level to journald"
There's already a special format for binaries that log to `journald` (enabled with `LOG_TO_JOURNALD` env variable). We should adjust the format to specify message severity level: the message needs to be prepended with numeric severity level in diamond brackets (`<severity_number>message`). This would enable filtering the logs (`journalctl -p`).

The following levels are supported by `journald`:

[

[2019-03-04 09:49] toabctl opened #342 "Push package to openSUSE:Factory"
Tumbleweed users might also want to mirror SUSE repos. Could you add the package to openSUSE:Factory please?

[2019-03-04 13:52] ikapelyukhin commented on #342
Hi, Thomas.

The request to factory is in review: https://build.opensuse.org/request/show/681402 -- it will go through eventually.

Thanks, Ivan.

[2019-03-04 13:52] #342 closed

[2019-03-11 15:06] tmuntaner commented on #202
@thutterer Do you still want this to be an open issue?

[2019-03-11 15:15] tmuntaner commented on #87
@ikapelyukhin Do you have any examples of code that shows this behavior?

I would either like to fix this, or if we already solved it, close this issue.

[2019-03-11 15:44] ikapelyukhin commented on #87
@tmuntaner I think it was already fix in #225/#226. There seems to be only one `exit` call in `RMT::CLI` classes, closing.

[2019-03-11 15:44] #87 closed

[2019-03-11 15:48] tmuntaner commented on #87
@ikapelyukhin Thanks for the update

[2019-03-12 08:37] tmuntaner commented on #320
@ikapelyukhin you're right, but we'll probably have to support `rmt-client-setup` on older systems, as they would have no way to update `SUSEConnect`.

[2019-03-12 10:01] ikapelyukhin commented on #320
@tmuntaner well, sure. But the sooner it's done in SUSEConnect, the sooner the need for supporting old systems will disappear :-)

[2019-03-12 10:14] thutterer commented on #202
No I think we should close it for now.

[2019-03-12 10:14] #202 closed

[2019-03-12 10:28] tmuntaner commented on #320
@lagartoflojo Do you know if we're considering this feature for SUSEConnect in the future?

[2019-03-12 10:34] tmuntaner commented on #233
@ikapelyukhin did you want to make the PR for this or should someone in SCC do that?

[2019-03-12 10:37] lagartoflojo commented on #320
if that's a desired feature, please create a card for it.

[2019-03-12 10:40] ikapelyukhin commented on #233
@tmuntaner Whoever gets to it first!

[2019-03-12 10:58] tmuntaner commented on #232
Hi @donaldsolberg, I'm looking into the feasibility of this issue.

I'm unsure about using `--headers`, as if we add any other file formats, `--headers` may become meaningless.

Maybe we could solve this with `rmt-cli repo list --all --csv-with-headers`?

[2019-03-12 11:02] tmuntaner commented on #233
@ikapelyukhin ok, I guess it will be whoever is more annoyed about the still open issue ^_^

[2019-03-12 12:56] thutterer commented on #232
Why not just always have headers? Would save us from inventing a new option.

[2019-03-12 12:59] tmuntaner commented on #232
That may break someone's workflow already using `--csv`

[2019-03-12 13:02] thutterer commented on #232
I consider the current state of not having a header in the file already as broken. So adding headers now would fix it for me :wink:

[2019-03-12 13:03] rjschwei opened #347 "enable/disable multiple products at once"
It should be possible to provide multiple product IDs to enable or disable for mirroring on the command line.

rmt-cli repos enable 1 2 3 4 5

should be supported.

[2019-03-12 13:04] tmuntaner commented on #232
But we would break our own code at: https://github.com/SUSE/rmt/blob/master/support/rmt

[2019-03-12 13:05] tmuntaner commented on #232
customers may have similar issues

[2019-03-12 13:08] thutterer commented on #232
Our own code we can easily adapt at the same time.

Major version bump :relaxed: RMT 2.0 :tada:

[2019-03-12 13:09] tmuntaner commented on #232
I'm not sure this is enough for a major version bump ^_^

[2019-03-14 16:38] ikapelyukhin commented on #347
@rjschwei That is supported, at least in the most recent version (implemented in #239 and #284). It is possible that it didn't get into the repos yet.

Closing. Also duplicate of #50.

[2019-03-14 16:38] #347 closed

[2019-03-14 16:43] ikapelyukhin opened #357 "Make number of puma workers and threads configurable by /etc/rmt.conf"
Currently number of threads is controlled by an environment variable -- changing this number probably would require modifying the systemd unit:

https://github.com/SUSE/rmt/blob/9b2dc7cc1c3a896fd57f8b5e5f4cff0021f6ca80/config/puma.rb#L7

Number of workers is not changeable without editing `puma.rb`:

https://github.com/SUSE/rmt/blob/9b2dc7cc1c3a896fd57f8b5e5f4cff0021f6ca80/config/puma.rb#L24

Thos

[2019-03-18 08:57] #320 closed

[2019-03-18 09:14] tmuntaner commented on #127
Hello @NeimadTL,

 I just wanted to check in with you to see if you're still interested in working on this. If not, I'll create a task for the team to take over.

Thanks

[2019-03-18 12:20] NeimadTL commented on #127
I have to admit that I've put on the the side because I wanted to to much things at the same time. I don't how a gem is organize in general and I don't know the RMT project in particular. Is that possible to give me one week or two to deal with it please ? if you have deadlines, I understand.

[2019-03-18 14:05] #336 closed

[2019-03-19 13:25] ikapelyukhin opened #361 "Missing unique constraint on `systems.login`"
A unique constraint on `systems.login` field is missing in the current schema. It is an oversight, it would be a good thing for future-proofing and considering that we have data import scripts.

[2019-03-20 10:48] digitaltom opened #363 "Glitch in output when called with wrong arguments"
When calling: `# rmt-cli mirror help`
the output is:

[code]

The \b looks like a bug, and also the output in general could be nicer, and use the same output as `rmt-cli help mirror` when called with wrong arguments.

[2019-03-20 10:58] digitaltom opened #364 "Support selection of repository/product in `rmt-cli mirror`"
There are situations where it can be useful to be able to specify which repository or product to mirror in `rmt-cli mirror`. For example when you have a huge list of products to be mirrored, but just want one of them to get refreshed quickly.

For example: `rmt-cli mirror repo <repo_id>` or `rmt-cli mirror product <product_id>`

[2019-03-20 12:35] digitaltom opened #366 "Download incorrectly skipped because of 'If-Modified-Since'"
Our QA lab's RMT server was running into a strange situation:

It had outdated metadata content on its disk, but with a recent timestamp.
Because of that, each mirror attempt was setting the 'If-Modified-Since' to a more recent date
than the content on the CDN had, and it never got downloaded/updated on the RMT server.

Do we actually gain anything by using the 'If-Modified-Since'? I would suggest

[2019-03-20 13:17] digitaltom opened #367 "Don't show ↓ for de-duplicated files"
When RMT is mirroring repository content and detects a file which is identical to an already downloaded file of another repository, it will not download but symlink it (depending on the configured de-duplication method).

It would be nice if that is also shown in the log by using another or an additional icon as the one used for download (↓).

[2019-03-20 13:18] digitaltom commented on #367
Oh, I think this is already happening...

[2019-03-20 13:18] #367 closed

[2019-03-20 13:32] ikapelyukhin commented on #366
@digitaltom Well, you can go argue with the reporter of bsc#1066669 then :-)

Perhaps a more sensible solution would be to always download `repomd.xml` and then check if the referenced metadata files are actually present on disk and calculate checksums.

No such luxury for licenses, though -- it uses Yast metadata and there are no checksums there.

[2019-03-20 13:41] digitaltom commented on #366
Ok. We could make such a situation less likely by not overwriting the metadata all the time, so they keep their original timestamp.

[2019-03-20 13:43] digitaltom opened #368 "'rmt-cli mirror' downloads all metadata files always"
repomd.xml contains checksums and timestamp of the referenced files.
Maybe it would be possible to skip downloading the additional metadata files by comparing the checksum/timestamp first and skipping the download if the file is already there.

[2019-03-20 13:46] ikapelyukhin commented on #366
@digitaltom But isn't that exactly how it works right now?

QA should just stop messing with the timestamps :grimacing:

What I think is missing is the mode to verify checksums of existing RPMs (like SMT's `--deepverify`, to redownload them if they are corrupted). This aggressive verification mode could also always purge the metadata.

[2019-03-20 13:49] digitaltom commented on #366
My impression is that all metadata files have the timestamp of the last `rmt-cli mirror` run, regardless if they have changed.

[2019-03-20 13:52] ikapelyukhin commented on #368
Err, no it doesn't. When HTTP request contains `If-Modified-Since` header, if the file hasn't been changed since the given date, the server responds with 304 status and an empty body. The downloader will use the existing files in this case.

[2019-03-20 14:10] ikapelyukhin commented on #366
@digitaltom If the metadata hasn't changed, it's copied:

https://github.com/SUSE/rmt/blob/15c65c7025aa42913dcd4a67887c5696ebf9f0de/lib/rmt/downloader.rb#L122-L126

Copying doesn't preserve the timestamp. We can throw in `preserve: true` as an argument for `FileUtils.cp`.

But even though the timestamps change during copy, that shouldn't cause the issue -- the files were not changed on the CDN at

[2019-03-20 16:06] digitaltom commented on #368
So the '→' sign also indicates a 304 response on that file? I thought it got downloaded, because its changed timestamp.

[2019-03-20 16:09] ikapelyukhin commented on #368
@digitaltom See https://github.com/SUSE/rmt/issues/366#issuecomment-474845975. Copying changes the timestamp, it's not re-downloaded.

[2019-03-20 16:26] digitaltom commented on #366
Yes, I think they copied the RMT partition without preserving timestamps, and without having mirrored for a while. I agree that not changing the timestamps during mirroring wouldn't solve it, but make things more obvious because one would be able to see when the file actually got mirrored. With that timestamp I was tricked into thinking that the file was downloaded from the CDN and is recent.

[2019-03-20 16:30] ikapelyukhin commented on #366
@digitaltom I think adding `preserve: true` to ` FileUtils.cp` would be a good idea. Also I'd suggest adding analog `--deepverify` into the backlog :grimacing:

[2019-03-29 10:39] tmuntaner opened #379 "rake test passes with failed tests"
I've noticed that `bundle exec rake test` passes when a `bundle exec rspec spec` doesn't. We should fix this so that we can trust our RMT PR process.

See: https://travis-ci.org/SUSE/rmt/jobs/512906038

[2019-03-29 10:42] tmuntaner commented on #379
@ikapelyukhin any ideas on how to fix this?

[2019-03-29 10:45] ikapelyukhin commented on #379
@tmuntaner Set `fail_on_error` to `true`:

https://github.com/SUSE/rmt/blob/b820696c6bbc6ebeda5ce8af989baccf980d92b4/lib/tasks/test.rake#L13

https://github.com/SUSE/rmt/blob/b820696c6bbc6ebeda5ce8af989baccf980d92b4/lib/tasks/test.rake#L22

Not sure why it's set to false in the first place :thinking:

[2019-03-29 10:48] tmuntaner commented on #379
It seems that you made this commend while I was editing my own comment. I will see how that fixes things.

[2019-03-29 12:49] tmuntaner commented on #363
@digitaltom see if this pr helps you: https://github.com/SUSE/rmt/pull/380

[2019-03-29 14:20] tmuntaner commented on #379
This should be solved with https://github.com/SUSE/rmt/pull/381

[2019-03-29 14:38] ikapelyukhin commented on #379
@tmuntaner the syntax is `Fixes #123` [[1](https://help.github.com/en/articles/closing-issues-using-keywords)] and should be in PR description or commit message, it will automatically close the issue on merge.
(But mentions in commit messages don't look so nice in git history IMO, also usually it takes more than one commit to fix an issue :grimacing:)

[2019-03-29 14:43] tmuntaner commented on #379
@ikapelyukhin Thanks, I will keep that in mind ^_^

[2019-03-29 14:43] #379 closed

[2019-03-29 15:10] tmuntaner commented on #363
As for making the output nicer, we're limited by thor and how it handles usage issues: https://github.com/erikhuda/thor/blob/master/lib/thor/base.rb#L500

[2019-03-29 16:02] #315 closed

[2019-03-29 16:48] digitaltom commented on #363
I see, then this is probably not easy to change

[2019-04-01 07:21] #363 closed

[2019-04-04 12:58] #361 closed

[2019-04-24 14:06] #232 closed, assigned to nobody

[2019-05-14 21:48] bear454 opened #412 "Conflict in nginx config: /rmt.crt"
https://github.com/SUSE/rmt/blob/master/package/files/nginx/nginx-http.conf#L46

conflicts with

https://github.com/SUSE/rmt/blob/master/package/files/nginx/nginx-http.conf#L50

because it defines the same location (`/rmt.crt`) as

https://github.com/SUSE/rmt/blob/master/package/files/nginx/http-certs.conf#L3

[2019-05-14 21:49] bear454 commented on #412
![](https://github.trello.services/images/mini-trello-icon.png) [SMT to RMT transition](https://trello.com/c/ouERducC/773-smt-to-rmt-transition)

[2019-05-14 21:55] bear454 commented on #412
`nginx: [emerg] duplicate location "/rmt.crt" in /etc/nginx/rmt-pubcloud.d/http-certs.conf:3`

[2019-05-17 09:26] #412 closed

[2019-05-24 20:38] Philippe-CB opened #420 "Requesting a easier methode to add a certificate to the rmt install."
Using the documentation from SuSE it's easy to install RMT using a selfsigned CA and certificate. But some of us like to have all our certificat from a single trusted authority. Sure, if you realise that rmt run on ngnix it's easy but i feel that yast2-rmt should give you that option instead of creating a new CA and certificate.

[2019-06-21 12:16] ghost opened #434 "tool to remove orphaned registered client?"
Is there already a tool to remove orphaned/old clients from the DB? or do we have to write our own cleanup jobs?

[2019-06-25 08:14] ikapelyukhin commented on #434
There's no `rmt-cli` command for client removal yet. `rmt-cli systems list` was introduced quite recently; if you'd like to contribute `rmt-cli systems remove` implementation -- you are welcome to do so :smile:

[2019-06-25 08:38] ikapelyukhin commented on #420
If you place your certificates in locations where RMT expects them prior to running the Yast module, then certificate generation will be skipped. We could reflect this in the documentation.

Locations:

* `/etc/rmt/ssl/rmt-ca.crt` -- your CA bundle;
* `/etc/rmt/ssl/rmt-server.crt` -- server certificate;
* `/etc/rmt/ssl/rmt-server.key` -- server certificate private key.

[2019-06-25 13:38] Philippe-CB commented on #420
You should also mention that the any chained certificate must be inserted in the certificate file, for any new users. Otherwise you get wonky results.
Not that it happened to me… ;)

De : Ivan Kapelyukhin [mailto:notifications@github.com]
Envoyé : 25 juin 2019 04:38
À : SUSE/rmt <rmt@noreply.github.com>
Cc : Philippe Comeau-Baril <Philippe.Comeau-Baril@midi.gouv.qc.ca>; Author <author@noreply.gith

[2019-06-26 18:54] ybaumy commented on #434
actually this is something I will really consider doing though. will put that on my backlog.

[2019-06-27 07:10] ikapelyukhin commented on #434
@ybaumy feel free to reach out if you have any questions/issues.

[2019-07-05 08:44] ikapelyukhin commented on #434
Let's actually keep the issue open unless it's resolved in some way (e.g., implemented/declined).

[2019-07-05 12:37] ybaumy commented on #434
It's in my backlog but when i look at the database I just cannot decide how to delete clients. Probably the only way would be like clean up db with clients older then X days.. for example. I have not decided yet but if someone has a suggestion about how to handle this ... please just reply here.

[2019-07-05 12:51] ikapelyukhin commented on #434
@ybaumy for the general use case the command should take the client login (or a list of logins) as input -- it would be something we would be happy to merge into master.

For your specific use case -- the logic is up to you, I'd suggest writing an auto-cleanup script that would take the output of `rmt-cli systems list --csv`, parse it and figure out which systems need to be deleted (last seen date

[2019-07-05 13:12] ikapelyukhin commented on #434
Those are my though on the matter, anyway. Ping @lagartoflojo, please feel free to contribute. :-)

[2019-07-05 14:15] lagartoflojo commented on #434
I agree, `rmt-cli systems remove <systemloginid>` would be a welcome addition!

[2019-07-08 06:19] ybaumy commented on #434
just to give you a no sooner ready then ETA. since vacation is on the doorsteps it wont be before end of August.

[2019-07-09 14:06] digitaltom opened #441 "Display a product with its repositories"
It would be useful to be able to display a product with all its repositories and
their attributes (mirroring enabled, mandatory, id, last mirrored etc) over the cli.

For example: `rmt-cli products show <product>`

Recommended output:

[code]

[code]

[2019-07-31 19:39] cjschroder opened #449 "How much storage space for RMT server?"
Hello SUSE RMT colleagues, what is a good recommendation for calculating the amount of storage space required on a RMT server? I need to add this guidance to the Repository Mirroring Tool Guide (https://www.suse.com/documentation/sles-15/book_rmt/data/book_rmt.html). There are almost 40,000 packages in SLE 15 SP1 x86_64 alone. Some shops will use just a small percentage of available packages, some

[2019-08-01 10:04] ikapelyukhin commented on #449
Hello, Carla.

Sadly, there's no simple answer for that question. Factors that contribute to how much space will be used:

* Which products are being mirrored;
* Which repos are being mirrored: some repos are optional, like DebugInfo and Source repos;
* Outdated packages are accumulated over time: when new versions come out, old version are kept in disk but aren't referenced by repo metadata anymo

[2019-08-01 14:10] cjschroder commented on #449
Thank you @ikapelyukhin, that helps. I was thinking of recommending twice the total repo size per distro per architecture as a guide. repo_stats looks perfect for calculating some general recommendations. Does that make sense?

[2019-08-01 15:05] ikapelyukhin commented on #449
@cjschroder yes, I suppose providing some examples as a guide would be the best option. Let me know if you need help with getting the size stats (tens of repos with auth tokens would need to be analyzed).

[2019-08-01 18:51] cjschroder commented on #449
Thanks @ikapelyukhin. I tried `repo_stats` and it works fine on opensuse repos, which do not need authentication. I tried `https://repo.url/?login=foo&password=bla` with my SCC credentials for the SLE repos, but that returns 403 "Forbidden". Is that not the right way?

For now, all I need is to provide some sizing examples for the larger SLE 12 & & 15 repositories. I wonder if anyone else is think

[2019-08-02 12:56] ikapelyukhin commented on #449
That's not how authentication for the repos work. Repos are hosted on the CDN and require an authentication token. Auth tokens contain subscription expiration date, they are encrypted with the CDN key and are generated for each subscription by SCC. RMT gets them from SCC during `rmt-cli sync` and stores them in the DB (`repositories.auth_token`).

Here's some crunched data:

#### SLES 12 SP5 and e

[2019-08-02 13:13] ikapelyukhin commented on #449
(SLES 12 SP4 and 15 SP1 are actually poor examples -- the update repos are empty, I've updated with older SP data)

[2019-08-05 14:27] cjschroder commented on #449
Many thanks, @ikapelyukhin, this is perfect. Very much appreciate your help. I will post the link to my PR here when it is ready, and then close this issue.

[2019-08-05 21:03] cjschroder commented on #449
If you have to review that would be fab. I elected to keep it simple and general. It would be cool if `repo_stats` became a supported tool in SLES.
https://github.com/SUSE/doc-sle/pull/462

[2019-08-05 21:03] #449 closed

[2019-08-06 09:17] ikapelyukhin commented on #449
That requires PMs to do PM stuff. You are welcome to create a Jira entry for including the existing package into SLES; or request this functionality to be built into RMT.

[2019-08-14 14:43] #243 closed

[2019-08-20 12:38] #364 closed

[2019-08-21 10:25] ikapelyukhin commented on #368
@digitaltom this issue is basically a duplicate of #366, let's close it.

[2019-08-21 11:00] #368 closed

[2019-08-28 09:58] #366 closed

[2019-09-25 11:41] digitaltom opened #476 "Hide non-mirrored repositories in the zypper service"
Currently the zypper services that RMT returns contain all repositories of a product, no matter if they are actually mirrored or not.

A user that enables one of the not-mirrored repos will run into an an error.

The proposed feature is to hide non-mirrored repos in the zypper service for the client systems.

[2019-09-27 15:49] jdsn commented on #434
Please note that there are also other tables referencing the client and thus have also be deleted when a client is removed (unregistered).
These are"
- MachineData
- ClientSubscriptions
- JobQueue
- JobResults
- Patchstatus

I can create a PR to remove the dependencies within the function _deleteRegistrationLocal if you agree that this is the correct place to integrate it.
Thanks.

[2019-09-27 16:01] lagartoflojo commented on #434
@jdsn I think those tables are in SMT, but not in RMT?

[2019-09-30 10:58] ikapelyukhin commented on #434
@jdsn yep, wrong project. :-) SMT already has `smt-delete-registration`.

[2019-09-30 11:03] ikapelyukhin commented on #476
Currently zypper services are identical to what SCC serves. Hiding non-mirrored repos would result in different service definitions on different RMT instances. It would also conceal the fact Debug and Src repos even exist and in theory could be enabled from the end user.

My vote is for leaving it as is for consistency with SCC.

[2019-10-16 17:15] jdsn commented on #434
sorry, came here via a link and did not notice the wrong repo :/

[2019-11-14 14:26] bsenf27 opened #489 "missing "non-oss" from openSUSE Leap, missing option to ignore drpm"
1) Enhancement
You allowing mirroring openSUSE 15.1, but where are no directory "non-oss" (containing some few packages like xv,opera,iozone).

2) During fresh download, all new files containing same date ("today").
   But large xxx-primary.xml.gz contains for each package meaningful entries like this:
    <time file="15569358642 build="15569358648"/>
    <size package="1024" ... />
    <location

[2019-11-25 19:08] doccaz opened #490 "Cannot mirror a custom repository"
If I try to force mirroring for a custom repository, rmt-cli says it doesn't exist:

[code]

It works if I use an ID from a regular repository. Shouldn't it mirror the custom repository too?
If I just run "rmt-cli mirror all", the custom repos are included.

[2019-11-25 19:10] doccaz commented on #489
+1 for the option to ignore drpm. I run a huge (almost 2TB) repository, and I lose quite a few GB to drpm.

[2019-11-26 12:13] ikapelyukhin commented on #489
I don't think there's a "nice" way of skipping `.drpm` downloads. Repository metadata file (`repomd.xml`) has a `deltainfo` section which points to `repodata/$SHA256SUM-deltainfo.xml.gz`.

There's no way of removing it from there without breaking repo GPG signature of the repo (`repomd.xml.asc`). So if we leave the metadata alone and simply skip downloading `.drpm` files, `zypper` will still expec

[2019-11-26 18:58] doccaz opened #491 "No option to set "no proxy" hosts in settings"
There is no way to set the equivalent of "http_no_proxy" for RMT. I'm running into this issue since some of the mirrors for my customer must NOT go through the proxy (local domains).

There is no provision for this in the gem used by RMT (typhoeus). There is an open issue for this exact problem: https://github.com/typhoeus/typhoeus/issues/528
... but doesn't have any activity since 2016.

[2019-12-02 21:33] doccaz opened #493 "Make it possible to set low_speed_limit and low_speed_time"
In some situations, there are network content checking appliances/proxies that will hold the connection open until the entire file is fetched, and *then* the client (in this case, RMT) receives the entirety of the data stream. Since the connection is mostly receiving just a few bytes/sec until the proxy/appliance is done, RMT thinks the connection is stuck, drops it and marks the file as not downl

[2019-12-03 15:30] doccaz commented on #491
I forked the typheous repo and was working on adding the relevant libcurl option, when I spotted this (http_client:verbose is true in rmt.conf):

Connection #0 to host cache.bb.com.br left intact
**Uses proxy env variable no_proxy** == 'localhost,127.0.0.1,.bb,.bancobrasil.com.br,.bb.com.br'
  Trying 172.20.50.4...
TCP_NODELAY set
Connected to cache.bb.com.br (172.20.50.4) port 80 (#0)
...

So, it

[2019-12-04 18:37] doccaz commented on #491
I made a pull request to the typhoeus repository implementing the "noproxy" option: https://github.com/typhoeus/typhoeus/pull/642

[2019-12-09 16:14] Kyzersose opened #500 "Duplicate systems in RMT"
I have duplicate entries when running "rmt-cli systems list". It would be helpful if:

- When a client is being registered with an RMT server, a check is made for duplicate hostames.

- rmt-cli systems included a remove command to help cleanup orphaned entries.

[2019-12-09 16:19] ikapelyukhin commented on #500
Hostname is not a unique identifier, especially when dealing with virtualized clients where instances can be cloned.

Clean up should be done manually, either via `SUSEConnect -d` or from the side. Server side client removal is not yet implemented (previously reported via #434).

[2019-12-09 16:37] ikapelyukhin commented on #434
@jdsn you are welcome to implement it for RMT, it's a highly demanded feature :grimacing:

[2020-01-13 13:24] thutterer opened #513 "Missing bash-completion for systems commands"
I just noticed that is was forgotten in #423 to add Bash completion for this new command namespace.

[2020-01-13 13:30] ikapelyukhin commented on #513
*\*cough-cough\** Dynamic bash completion?

Doesn't necessarily have to be a script executed on each tab press (as it was pretty slow as we've discovered with @simson-suse) -- could be also a rake task generate the file during packaging.

Quick search show there are existing solutions for Thor [[1]] [[2]].

[1]: https://gist.github.com/lukasz-kaniowski/1348078
[2]: https://gist.github.com/Jell/c06

[2020-01-17 10:22] #513 closed

[2020-01-27 14:09] digitaltom commented on #233
Probably we could also make use of this in our 'duct-tape' code that parses repos for Patchfinder and Packagefinder.

[2020-01-27 14:57] digitaltom commented on #233
@ikapelyukhin are the initializers from `repomd_parser` missing the `mirror_src` parameter?

[2020-01-27 15:12] ikapelyukhin commented on #233
I've dropped `mirror_src` in the gem (for the sake of versatility of the gem, `mirror_src` makes sense in the context of RMT but not necessarily in a context of the gem that parses XML).

Source packages have to be filtered out outside of calls to the gem.

[2020-01-27 15:16] digitaltom commented on #233
Ok. That makes the task a bit more complicated, I was searching for a beginner task of 2 hours.

[2020-01-27 15:40] ikapelyukhin commented on #233
Well, there's the risk, of course, but since it's mostly the same code inherited from the same codebase, I would expect this code:

[code]

To become this:

[code]

[2020-01-28 09:10] felixsch commented on #493
This is addressed here: https://github.com/SUSE/rmt/pull/494

The pull request has been merge, thats why I'm closing this.

[2020-01-28 09:10] #493 closed

[2020-02-20 09:35] #441 closed

[2020-02-27 07:34] rdannert opened #533 "rmt-cli man page needs updating to include "rmt-cli scc sync-systems""
Wed Dec 18 14:51:40 UTC 2019 - Ivan Kapelyukhin <ikapelyukhin@suse.com>
- Version 2.5.0
- Add `rmt-cli scc sync-systems` command

[2020-03-11 11:34] thutterer opened #538 "Make mirroring path configurable"
Currently it is not possible to configure a different directory than `/usr/share/rmt/public/repo` as mirroring path. It's hardcoded here:
https://github.com/SUSE/rmt/blob/b9895aa88c86a6407428f5c1550b5ceb17d10a1b/lib/rmt.rb#L6

This is problematic when a user wants to mirror to another disk mounted under a different directory, or an NFS share. Users have to work around this with symlinks and such.

[2020-03-11 11:54] ikapelyukhin commented on #538
`/usr/share/rmt/public/repo` is a symlink. It is configurable -- by changing the symlink to point to whatever directory you want it to.

Making it configurable in the code doesn't make sense, because nginx config also has this path hardcoded (static files are served by nginx). It was a common problem in SMT -- people would change the path in SMT config, then forget about changing the apache config

[2020-03-11 13:51] lagartoflojo commented on #538
Thanks for the feedback, @ikapelyukhin !
Instead of creating a new feature that can potentially lead to new bugs, maybe what we need is proper documentation that explains what Ivan said?

[2020-03-11 13:54] ikapelyukhin commented on #538
I think we even wanted to document it at some point, but I guess it just fell through the cracks.
I would also suggest asking the support engineers to create a TID addressing this specific customer question.

[2020-03-11 14:00] lagartoflojo commented on #538
Ok, I'm getting touch with the doc team to get it added :)

[2020-03-11 14:27] thutterer commented on #538
Thanks Ivan and Hernán! :potato:

[2020-03-11 14:28] #538 closed

[2020-04-02 15:16] bjin01 opened #541 "system_uuid, /srw/www/rmt/public link, Dockerfiles missing directory, missing softlink /var/lib/rmt"
The solution is in general working fine. It took me some time to fix some minor issues:
My environment: SLES15SP1 with docker engine, docker-compose (via pip install docker-compose)

1. in the rmt (container) a file /srv/www/rmt/system_uuid with uuid of the host is mssing. If this is missing then ```rmt-cli sync will return error```.
Solution: I added system_uuid to the git clone directory on buil

[2020-04-02 17:20] bjin01 commented on #541
If the
```/srv/www/rmt/public/repo``` is not set to ownership: _rmt:nginx then I will get below errors:
[code]

[2020-04-16 15:32] digitaltom opened #554 "Enable mirroring of "Installer-Updates" repositories by default"
When enabling a product for mirroring in RMT, only the repositories that will get enabled on the system initially will get mirrored by default. Example:

[code]

This leaves out the "Installer-Updates" repositories, that can get used by the installer to patch the installation system itself.

[2020-04-28 15:05] ikapelyukhin opened #557 "Thor deprecation warning"
When running a non-existent command or a command with invalid parameters the following deprecation warning is displayed:

[code]
`exit_on_failure?` probably needs to be implemented.

[2020-04-30 02:57] ikapelyukhin opened #559 "Installer updates repos are added to registered systems"
I've noticed that clients registered to RMT and to SCC have a different number of repos after registration -- RMT-registered clients have an extra repo, `SLE15-SP1-Installer-Updates`.

Seems like zypper service XML endpoint on SCC side filters out installer update repos and RMT doesn't.

It doesn't make sense to add installer repos to the registered machines, those are supposed to be used during i

[2020-04-30 08:23] digitaltom commented on #559
SCC has this in the default scope: `scope :excluding_installer_updates, -> { where(installer_updates: false) }`

[2020-06-22 10:23] felixsch commented on #233
This has been done. I'm closing this issue. Thank you @lcaparroz :)

[2020-06-22 10:23] #233 closed

[2020-06-22 10:24] felixsch commented on #276
@ikapelyukhin Is there a easy way to determine if a repo/product is fully mirrored?

[2020-06-22 10:27] felixsch commented on #334
@ikapelyukhin Do you know if something has changed in this regard? How is this handled now?

[2020-06-22 10:34] felixsch commented on #335
@ikapelyukhin Do you think this is worth the effort? We are currently planning what to do next and this seems to be like a small issue only affecting rmt users which are coping rpms without the database?

[2020-06-22 10:37] felixsch commented on #357
Is this still important? If yes, we will add this feature soonish.

[2020-06-22 10:44] felixsch commented on #476
@digitaltom Seeing the answer from Ivan, do you still want this feature?

[2020-06-22 10:49] felixsch commented on #489
Hello all, looking at Ivans comment I think implementing this feature is out of scope right now. I will close this issue for now. If you still interested please reopen the issue to further discuss possible options. Thank you for your feedback.

[2020-06-22 10:49] #489 closed

[2020-06-22 10:55] felixsch commented on #491
@doccaz Very nice. Could you add the documentation to https://github.com/SUSE/doc-sle. Would be really appreciated. If you need help let me know. Thank you for your efforts in RMT!

[2020-06-22 10:58] ikapelyukhin commented on #334
@felixsch no changes, handled in the same manner.

[2020-06-22 11:04] ikapelyukhin commented on #357
@felixsch that'd be the way to tweak RMT performance. We do have some pretty busy regions in PubCloud, right now we are deploying a modified version of `config/puma.rb`. So yes, important enough.

[2020-06-22 11:06] ikapelyukhin commented on #276
@felixsch well... This message is generated somehow: `'Not all mandatory repositories are mirrored for product SUSE Linux Enterprise Server 12 SP3 x86_64'` -- so I guess there is. :slightly_smiling_face:

This probably should be handled on SUSEConnect side, it should clean up the configs/credentials on the client system if the transaction fails in the middle.

[2020-06-22 11:10] ikapelyukhin commented on #335
@felixsch yes, fixing inconsistent deduplication behavior is worth the effort. Code related to `downloaded_files` needs an overhaul, it generates a bunch of useless error messages when the files are missing on the disk too.

[2020-07-06 11:20] digitaltom commented on #476
I agree, it could also create confusion to have the service definitions not static. We also don't have anyone asking for that currently, so I'm closing this issue.

[2020-07-06 11:20] #476 closed

[2020-07-17 07:30] tmuntaner commented on #420
@Philippe-CB I wrote a documentation note (https://github.com/SUSE/doc-sle/pull/621) for the location of RMT certs for in the `yast2 rmt` configuration section.

It doesn't specify the details of a creating a custom root certificate, but I hope that it could help nudge people in the right direction if they want to do so.

I will close this issue. Feel free to reopen it if you still have a concern

[2020-07-17 07:30] #420 closed

[2020-08-24 10:44] #554 closed

[2020-08-26 09:27] tmuntaner commented on #127
@lagartoflojo Do you think we can close this issue with the latest changes made to RMT?

[2020-08-26 09:37] lagartoflojo commented on #127
Solved by #595

[2020-08-26 09:37] #127 closed

[2020-08-26 14:41] tmuntaner opened #607 "Cannot Disable Installer Repos"
With the merge of #592, it is impossible to permanently disable an installer update repository. I'm not sure that is the experience we want.

Example:

[code]

[code]

---

[code]

[code]

---

[code]

[code]

---

[code]

[code]

---

[code]

[code]

---

[code]

[code]

Repo `3650` is back!!!!!!

[2020-08-26 14:44] tmuntaner commented on #607
@jesusbv Was this an intention of PR #592?

If so, I think we need to make this experience more clear in the changelog. "By default" doesn't read as permanent to me.

[2020-08-26 15:01] tmuntaner commented on #607
I talked to @jesusbv and the requirements were not well defined in #554. We will better define the requirements tomorrow and introduce a fix.

[2020-08-27 13:00] tmuntaner commented on #607
To me, @jesusbv, I think your initial [code](https://github.com/SUSE/rmt/commit/31346f86c301b4b18ae16864322eeda3144f33a5#diff-7b1085760b33aef4c8356bfa224dafdfR174) was on the right path.

It seems that there was some initial confusion that came in with https://github.com/SUSE/rmt/pull/592#issuecomment-668691925 by @digitaltom. Normally, that comment would be correct, as it's the column to enable r

[2020-08-27 13:16] digitaltom commented on #607
I agree, it's unexpected that the repo comes back automatically after disabling it. It was just meant to be there automatically when enabling the product.

[2020-08-27 13:41] jesusbv commented on #607
Yes, that was my intention with the original approach. Thank you @tmuntaner for clarifying.

I will have a new PR addressing the fix.

[2020-08-28 15:09] tmuntaner commented on #335
@ikapelyukhin I think that this issue was closed with #585. If you feel otherwise, please reopen this issue.

[2020-08-28 15:09] #335 closed

[2020-09-02 11:26] tmuntaner commented on #607
@jesusbv do you need any help with this PR? The RMT integration tests are failing because of this issue.

[2020-09-02 14:37] tmuntaner commented on #607
We had to merge the integration tests fixes of #608, when we resolve this issue, we can revert the change.

[2020-09-02 14:53] tmuntaner commented on #490
Hi @doccaz I made an alternate approach to this issue with #618.

I saw that we could use the same technique we use for products and solve the scc_id vs id issue, while avoiding the need to create separate commands. Any feedback on that approach would be great.

Soon, the team will meet and I will present the different approaches for this issue. Then, we'll decide how to continue.

Thank you for y

[2020-09-03 11:53] tmuntaner opened #619 "Support Mirroring Custom Repositories"
Currently, RMT can only mirror single SCC repositories. For this, it uses the column `scc_id`. By design, custom repositories don't have an `scc_id`, instead they only use the column `id`.

This poses a problem, how do we target custom repositories for mirroring single custom repositories?

Current Commands

[code]

**Note:**

* We should maintain `rmt-cli mirror repository IDs` usage of `scc_id`

[2020-09-03 11:56] tmuntaner commented on #490
@doccaz I'm closing this issue so that it can be discussed in #619. Feel free to add your thoughts there.

[2020-09-03 11:56] #490 closed

[2020-09-03 11:59] tmuntaner commented on #619
@ikapelyukhin and @jesusbv We discussed this as a team, but we're still gathering feedback.

Please feel free to add any input here if you want.

[2020-09-03 12:05] thutterer commented on #619
The first three approaches seem reasonable. Haven't looked at their implementation, only on the CLI usage, though.

Question: Does `rmt-cli mirror all` also mirror custom ones? Because if yes, then the `rmt-cli mirror custom all` would feel a bit redundant, and snowflakey. Why then no `mirror not-custom all` :wink: ... So maybe avoid implementing a "subset all" command for now?

Do we plan to ever

[2020-09-03 12:16] lcaparroz commented on #619
@thutterer, which ID would RMT use for custom repositories then?

[2020-09-03 12:20] tmuntaner commented on #619
@thutterer

* `rmt-cli mirror all` mirrors both SCC and custom repositories.
* For the question of custom products, I don't think that we've ever put together a plan of how or if it would work. For me, it would be hard to plan around that right now.

Thanks for your feedback!

[2020-09-03 12:40] ikapelyukhin commented on #619
Option 4 FTW -- it just needs to be done correctly. There should be only one ID field in `repositories` table. Custom repos need to have a different format compared to SCC repos (e.g., alphanumeric for custom repos). Current schema is confusing (`repositories.id` vs `repositories.scc_id`).

That would instantly kill all the unnecessary copypasta in the code like `rmt-cli repos custom` and `rmt-cli

[2020-09-03 15:16] tmuntaner commented on #619
In my opinion, I would vote for either option 1 or 4. I want to remove as much confusion as possible between scc and custom repositories.

However, if we go for option 4, I would also love to consider a way to target a custom repository in a less database dependent way. We kept `scc_id` to ensure that the scc repositories would be the same across RMTs, maybe, we should do something similar for cus

[2020-09-03 15:54] ikapelyukhin commented on #619
Yep, custom repo URL checksum as ID would work.

[2020-09-04 07:54] tmuntaner commented on #276
This should be fixed by both SUSE/rmt#610 and SUSE/connect#440.

[2020-09-04 07:54] #276 closed

[2020-09-04 10:38] tmuntaner commented on #541
Hi @bjin01,

I was just going through the open issues and saw this one. I think that I may have actually solved this in a recent PR #598.

In that PR, I was able to update our [Dockerfile](https://github.com/SUSE/rmt/blob/master/Dockerfile) to use leap 15.2 and now it works with docker-compose and our defined [docker workflow](https://github.com/SUSE/rmt#development-setup---docker-compose).

Thank

[2020-09-04 10:38] #541 closed

[2020-09-07 11:06] jesusbv commented on #607
No, no problem with the PR yet, I will try to have it ASAP.

[2020-09-07 13:54] #434 closed

[2020-09-07 16:51] tmuntaner commented on #500
Hi @Kyzersose,

The functionality to remove systems was just merged in #434. This should enable you to write a simple script to find systems with duplicate hostnames and use `rmt-cli systems remove SCC_****` to remove them.

As making hostnames a unique identifier is not currently possible (see the statement from @ikapelyukhin above), I hope that the increased tooling will assist you in solving fu

[2020-09-07 16:51] #500 closed

[2020-09-08 10:12] #607 closed

[2020-09-09 07:37] #559 closed

[2020-09-09 09:53] jmammen commented on #619
For me option 2 is my favorite. The custom namespace seems to be there and we have basically the same workflow as we have for suse repos just in the custom namespace. `rmt-cli repos ls` displays only scc repos where `rmt-cli repos custom ls` displays only custom repos. To follow this scheme it would just be natural for me to also then select the `id` for custom repos or the `scc_id` for suse repos

[2020-09-09 10:13] tmuntaner commented on #619
@jmammen We show `scc_id` because it remains the same across RMTs. This makes it easier to enable/disable/mirror a repository coming from SCC. Otherwise, the ID would be different on each machine and you would need a script to properly parse the output data to target the same repo.

[2020-09-09 11:05] #334 closed

[2020-09-09 12:18] #533 closed

[2020-09-10 16:20] tmuntaner commented on #619
@ikapelyukhin @jmammen @thutterer @ngetahun

Thanks for your feedback!

@lcaparroz and I talked and we think that we will try option 4 first, however, we will try our best not to introduce any breaking changes. As we still have the `repos custom` namespace, we can assume that `id` is used and we can still support it for those who have the old `id`. In this way, we have some leverage in deprecating

[2020-09-11 10:03] tmuntaner commented on #619
During the planning meeting, @thutterer also had the idea of using `name` as a target. We'll also throw that into our consideration, but we'll need to work through the issue of `name` not being a unique index.

[2020-09-11 10:09] tmuntaner commented on #619
@thutterer we can just ignore the unique index and if multiple repos have the same name, then mirror them all. Thoughts?

[2020-09-15 09:42] tmuntaner opened #628 "RMT issue with cached repomd.xml"
With the new error summary in RMT, we noticed that our RMT had some issues in mirroring specific repositories:

[code]

Under a closer examination, the `repomd.xml` files for these repositories had older content, but the timestamps of the files were newer than their `last-modified` response header. RMT uses this header to save time/bandwidth in the mirroring process. In this case, the timestamp is

[2020-09-15 09:42] tmuntaner commented on #628
@ikapelyukhin @jesusbv Have you seen this issue in your RMT instances before?

[2020-09-15 09:43] tmuntaner commented on #628
@digitaltom This was the issue that we saw in the demo last Friday.

[2020-09-16 12:20] lcaparroz commented on #628
Some thoughts on possible solutions for not relying on reading the file timestamp from disk:

1. Always download all metadata files, regardless of timestamp;
2. Starting keeping track of all metadata files, recording the timestamp on database and relying on it instead of the disk file;
3. Starting using both [`ETag`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) and [`If-None-Mat

[2020-09-16 15:46] tmuntaner commented on #628
I've been thinking about this for the last few days and  here are my thoughts:

Option 1 would be the easiest, but I think that we only need to force the download of any calls of `@downloader.download()`. My only issue with this is the unnecessary download time and bandwidth.

Since the `@downloader.download` is scoped to only a few files and all of their names are static (the same across multiple

[2020-09-17 15:43] olafhering opened #631 "nginx default config claims entire nginx instance"
It seems there is no easy way to hook into nginx once `rmt-server-config.rpm` is installed.

With apache and SMT is was as easy as this:
[code]

With nginx such things are not possible, especially with `listen 80   default` in `/etc/nginx/vhosts.d/rmt-server-http.conf`.

It is possible to do something like `ln -s /path/to/my/urlpart /usr/share/rmt/public/urlpart`. But this will only work reliable

[2020-09-17 17:03] tmuntaner commented on #619
We've starting working on option 4 with PR #630.

[2020-09-17 18:18] ikapelyukhin commented on #628
Had some issues with caching but because of GPG signatures (`repomd.xml.{asc,key}`), not `repomd.xml`. QA people had some issues, but that was caused by messed up timestamps on the filesystem.

Switch from issuing a `GET` request with `Last-Modified-Since` header to issuing a `HEAD` request first, comparing the size and the timestamp and proceeding with the `GET` request without any additional hea

[2020-09-24 07:24] lagartoflojo commented on #357
Backlog card: https://trello.com/c/JyD3FVf4/4006-byowr-add-ability-to-tune-rmt-performance

[2020-09-24 11:55] #619 closed

[2020-09-24 12:01] tmuntaner commented on #631
@olafhering,

thanks for your contribution. I will bring this issue and PR #634 up with the team so we can decide how we want to continue.

Thanks,
Thomas Muntaner

[2020-09-24 12:13] tmuntaner commented on #631
@olafhering could you please give me your intended use case?

RMT is intended to be the only web application on the server. Is there a workflow which we're missing?

[2020-09-24 12:38] olafhering commented on #631
Why would it be a good idea to allow just a single (http) service on a machine?

A "server" just serves data, and mirrored SUSE repos are just one part of the data. It is certainly up to the admin to deal conflicts in the URLs.

In my case I export `/data` and therefore expect `http://host/data` to be browsable, and I have [chrony-graph](https://build.opensuse.org/package/show/network:time/chrony-

[2020-09-24 13:16] tmuntaner commented on #631
@olafhering I've looked at the nginx files, and RMT just sets itself up as the default site for port 80 https://github.com/SUSE/rmt/blob/master/package/files/nginx/nginx-http.conf#L2.

If you create another vhost in `/etc/nginx/vhosts.d` and set the `server_name` to a new URL, then more than one website is allowed.

[2020-09-24 14:18] olafhering commented on #631
Yes, that is the bug I think.

Why does the rmt-config claim the entire host via `default`? Would just just work if that setting is not specified? And will RMT break if another config snippet claims the host via `default`?

[2020-09-24 14:44] tmuntaner commented on #631
RMT currently needs the `default` setting, because, otherwise, nginx would need to know exactly which URLs match RMT's and maintain that configuration file over future updates.

The `default` in nginx just shows RMT as the fallback, but it doesn't claim the entire server. If a user wants to add a new URL to nginx, he/she can add a more specific vhost. In that case, it will only fallback to RMT if

[2020-09-24 15:43] olafhering commented on #631
I assume with 'add another vhost' means it is expected the admin is in control of DNS for this network actually be able to access `host` via another name?

While is may work for my `export /data via http` case, it seems to be impossible to create a generic drop-in like `chrony-graph` because it would need to know the DNS names in advance.

[2020-09-25 16:43] tmuntaner commented on #631
@olafhering Could you clarify one thing for me: are these drop-ins related to RMT or do you intend for them to be separate websites using the same domain name?

And yes, we've expected that RMT's nginx files are used for RMT alone. The idea is that if a user wants to have a separate service, she/he could create a nginx configuration file for that specific service.

Here is the test file I created

[2020-09-29 17:07] #628 closed

[2020-10-02 13:46] tmuntaner commented on #631
@olafhering I'm just following up. Do you still need help with this?

[2020-10-02 13:48] tmuntaner commented on #491
@doccaz can we close this issue?

[2020-10-02 13:50] doccaz commented on #491
Sure! Thank you.

[2020-10-02 13:50] #491 closed

[2020-10-06 14:20] #357 closed

[2020-10-08 09:40] olafhering commented on #631
Well, I have to think about it.

While I may be able to do the tedious extra work and create a vhost for each potential DNS name and for each potential numeric IP address just to serve `/data` below `http://host/data`, plugins like `chrony-graph` may requie extra work.

[2020-10-14 15:49] lcaparroz opened #649 "Checksum verification option for `rmt-cli mirror`"
## Description

Currently, the command `rmt-cli mirror` doesn't allow a "deep verification" of existing files, it is, comparing the checksum digest of each file to the values from the repository metadata. RMT's predecessor, SMT, has such an option and some users already asked for it.

Actually, RMT's mirroring mechanism already has some code for allowing this checksum verification, but the CLI too

[2020-11-10 13:32] blauerdaemon opened #655 "Limit output to desired architecture"
Let's assume I am interested in x86_64 only based repos, rmt-cli could provide an option to limit the output to only these repos. Something like:

rmt-cli products list <optional arch>
rmt-cli products list x86_64

or

rmt-cli repos list <optional arch>
rmt-cli repos list x86_64 --all

[2020-11-10 14:30] blauerdaemon opened #656 "Enhance filter options for products listing"
A product version based view would be nice, like

rmt-cli products list <version>
rmt-cli products list 15 SP2 x86_64

The output should be limited to repos available for a given (service pack) version. Something like:

statler:~/ # rmt-cli products list --all | grep "15 SP2" | grep x86_64
| 1946 | Basesystem Module                                                       | 15 SP2  | x86_64  | Mirror

[2020-11-10 14:36] blauerdaemon opened #657 "Guided mirror process"
When syncing a new code base, a guided mirror process would be nice. Like:

rmt-cli products enable sles/15.2/x86_64 --guided
-> enabling SLES repos...
-> want to enable Python2? Y/n
-> want to enable WebScripting? Y/n
-> want to enable HA? Y/n
-> want to enable Desktop-Applications? Y/n
-> want to enable Legacy? Y/n
...

Guess you'll get the idea ;)

[2020-11-11 09:17] blauerdaemon opened #659 "enable all repos for a given SP version"
Having an option to enable all repos for a given product/SP would be a huge benefit and saves time. E.g.:

rmt-cli products enable --enable_all_modules sles/15.2/x86_64

This would be an addition to issue#657 where the user could select which repos to mirror.

[2020-11-16 17:16] thutterer opened #661 "clean command: Show what it's "Deleting..." instead of what was "Deleted""
`$SUBJECT` almost says it all:
When using the `repos clean` command it would be a bit more helpful to output the currently running deletion like:
[code]

Especially when it takes longer because it's a large Update repo, it would reassure me that the process is still running. Currently I might think it has already "Deleted" everything but has crashed or something.

[2020-11-16 17:29] thutterer commented on #656
Probably nice to have, yes, but would it be really that much nicer than this? :nerd_face:

[code]

@jesusbv Do you want to work on this?

[2020-11-16 17:32] thutterer commented on #655
So similar to #656 but for the architecture :thinking: Would make sense to have both filters `--arch foo` and `--version "bar"`, I guess.
What do you think @tmuntaner and @lcaparroz?

[2020-11-16 19:01] jesusbv commented on #656
@thutterer yes, I have an idea in mind about the behavior and output (as I faced the same problem),
so I took the issue if that's ok

[2020-11-16 21:04] jesusbv commented on #655
@thutterer I plan to include those queries in #656
Basically, any combination of `name/version/arch`
so the `list` is a better experience

[2020-11-19 08:05] ravarga opened #662 "delete retracted files"
Recently there was a retracted file in SES6 Updates repo. RMT still keeps the file in local repos.

SMT had an option -c to clean whatever doesn't exist in SCC. Can we implement this functionality and remove such retracted files?

[2020-11-23 14:01] digitaltom opened #664 "Include "sync_systems" into "rmt-cli sync"?"
The feature to sync systems to SCC from RMT is currently 'hidden' in `rmt-cli systems scc-sync`.
A customer was opening a bug report, under the assumption the systems sync will happen as part of the scheduled sync automatically when enabled in the config.

[2020-12-15 17:51] abonillabeeche opened #671 "nginx not listed as required package"
nginx is not mentioned as a required package under the installation steps.

Should be:

zypper in rmt-server yast2-rmt nginx mysql

[2021-01-05 15:17] thutterer commented on #671
Hello Alejandro! Are you referring to https://github.com/SUSE/rmt/blob/master/docs/installation.md?

I just double-checked the specfile, and rmt-server does recommend nginx and mariadb (not mysql) so just running `zypper in rmt-server` is enough to install it with all its dependencies.

Have you had a different experience?

[2021-01-05 15:23] thutterer commented on #664
That sounds like a nice improvement to me. We could then soft-depricate the `systems scc-sync` which in fact sounds a bit off and hard to find. Like, leave it there for a few versions, print a deprication warning and remove it in the next major release.

Do you think we should make the systems syncing as part of `sync` configurable? As they may be users who don't intend to sync their systems info

[2021-01-05 15:41] digitaltom commented on #664
I agree this needs to be a config option (if it's not there already).

[2021-01-07 13:04] #661 closed

[2021-01-07 16:41] abonillabeeche commented on #671
Yes. I don't think the dependency was set. Can you double check? I used openSUSE and the package in OBS.

[2021-01-15 09:57] #655 closed

[2021-01-28 14:08] thutterer commented on #662
Hi Rado, thanks for opening this issue. We just recently discussed this topic with the team and have this on our backlog now. It might take us a while until we get to it though, so I'm marking this as _help wanted_.

If you, or anyone else, would be willing to work on it, please ping us here in the issue so we can plan the implementation details.

[2021-01-28 14:20] thutterer commented on #656
This got implemented in #663

[2021-01-28 14:20] #656 closed

[2021-01-28 15:02] thutterer commented on #671
SLES and openSUSE share the same [specfile](https://build.opensuse.org/package/view_file/systemsmanagement:SCC:RMT/rmt-server/rmt-server.spec?expand=1) so there shouldn't be difference in behavior.

Maybe you had zypper configured to install `--no-recommends` when you ran into the issue?

The reason these packages are not hard `Required` in the specfile is this:

https://github.com/SUSE/rmt/blob/d

[2021-03-25 09:59] cschinabeck opened #702 "summary of mirroring process similar to smt-mirror.log"
tail smt-mirror.log:
2021-03-24 22:08:54 main - [info]  Summary
2021-03-24 22:08:54 main - [info]  Total transfered files    : 157
2021-03-24 22:08:54 main - [info]  Total transfered file size: 334045761 (318.57 MB)
2021-03-24 22:08:54 main - [info]  Total linked files        : 99
2021-03-24 22:08:54 main - [info]  Total copied files        : 0
2021-03-24 22:08:54 main - [info]  New security updat

[2021-03-26 19:11] olafhering commented on #662
[rmt-list-orphaned-rpms.py.txt](https://github.com/SUSE/rmt/files/6213857/rmt-list-orphaned-rpms.py.txt)

A quick, simple tool to remove stale files manually. Maybe there is a `contrib/` directory for this [hw](https://hackweek.suse.com/20/projects/remove-stale-rpm-files-from-rmt-mirror) project.

[2021-03-31 10:21] digitaltom opened #707 "Migrate from travis-ci.org to Github Actions"
With the [new policy](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing) of travis-ci, it will be beneficial to
move RMT testing to [Github Actions](https://github.com/features/actions).

There is documentation for how to migrate:
https://docs.github.com/en/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions

[2021-04-06 15:02] sdturne opened #709 "Documentation for rmt.conf needs to be clarified"
Neither the `CONFIGURATION` section of the `rmt-cli` man page or the [RMT Configuration Files](https://documentation.suse.com/en-us/sles/15-SP2/single-html/SLES-rmt/#sec-rmt-config) section of the RMT Guide specify whether any action is required (or not) after changes have been made to the `/etc/rmt.conf` file.  If a `systemctl restart` command is required that should be specified, or if the chang

[2021-04-08 09:53] olafhering commented on #631
so be it...

[2021-04-08 09:53] #631 closed

[2021-04-19 14:45] ngetahun commented on #649
@lcaparroz I will close this issue but put a pin on it and try to tackle it during the next hacktoberfest.

[2021-06-17 12:45] #178 closed

[2021-06-23 21:53] bear454 opened #738 "Cache files grow indefinitely, despite 20 min expiration in code."
In Production, Rails is defaulting to file-based caching; with file caching the cache files never 'expire'... they must be removed (this is documented behavior [1]).

Eventually, `/var/lib/rmt/tmp/cache` will outgrow any disk.

[2021-07-09 09:30] ngetahun commented on #738
@bear454 Can you shed some light on how you use rmt? Our reference hosts are functioning well, we would like to get a better understanding before we merge it to the codebase.

[2021-07-09 16:11] bear454 commented on #738
This was filed on behalf of the SUSE Public Cloud Sysadmin team; some of the RMT servers in production supporting customers in AWS/Azure/GCP have over 6GB of Rails cache entries.

[2021-07-09 16:13] bear454 commented on #738
IMO regardless of the overall volume; there's a clear problem when using ActiveSupport::Cache::Filestore as the cache files never expire.

[2021-07-28 15:44] #738 closed

[2021-08-04 09:00] felixsch commented on #707
I think this is done right? I will close for now! If you think there is something missing, open again ;)

[2021-08-04 09:00] #707 closed

[2021-09-27 08:25] ngetahun opened #779 "Documentation Update: Add a comparison for PTFs"
Add a comparison between RMT and SMT once the PTF feature goes fully live. Ping @ngetahun.

[2021-09-29 15:13] martin-0 opened #782 "rmt-cli mirror is using /tmp to cache files"
I've separated FS for /var/lib/rmt to store repo files. However during rmt-cli mirror I'm getting constantly /tmp full due to cache files being stored there. Is there a way to tell rmt to cache somewhere else ? /tmp is small on purpose on our servers.

[2021-10-05 18:28] bear454 opened #788 "'build status' badge on README still points to Travis."
#744 added a github-actions workflow for testing, and removed the travis-ci integration, but the README still includes a travis-ci test badge.

[2021-10-07 08:32] felixsch commented on #671
It looks like there is no movement anymore. I will close this for now. In case further discussion is needed, please re-open this issue. Thanks!

[2021-10-07 08:32] #671 closed

[2021-10-07 09:17] felixsch commented on #664
I close this, since the `systems scc-sync` command is used by the systemd timer to automatically sync systems to SCC. There is also the `sync_systems` option in `/etc/rmt.conf` to disable/enable systems syncing!

[2021-10-07 10:36] lagartoflojo commented on #664
Isn't that assumption correct?

[2021-10-07 11:23] digitaltom commented on #664
Yes, it runs automatically as long as the config is set, and the systemd timers are in place (both is default).
This ticket is more about why this is hidden in a subcommand, when all user SCC sync calls are included in `rmt-cli sync`.

[2022-01-03 09:43] irfannaseefp opened #832 "LoadError: cannot load such file -- puma/puma_http11"
rmt-server service fails with a error in dependency unit rmt-server-migration.service. Trace is giving the error
**LoadError: cannot load such file -- puma/puma_http11**

OS: SLES SP1

Complete log:
[code]

[2022-01-11 19:45] bear454 opened #838 "nginx does not respond on IPv6 as configured"
The provided configuration files do not enable nginx (as tested on SLES 15 SP3) to respond to requests via IPv6, only IPv4.

[2022-02-10 14:54] blauerdaemon opened #850 "No man page for /etc/rmt.conf"
$SUBJECT says everything ;)

[2022-02-17 12:55] #838 closed

[2022-03-11 13:18] lcaparroz commented on #832
@irfannaseefp Does this failure still persist?

[2022-03-15 14:25] ataschner opened #873 "RMT should only touch metadata files when updates are mirrored"
A customer, who is scanning their RMT repo directory structure for updated files, has reported that the repodata is updated eventhough there are no new packages.

This is no point in updating repodata directories for products that went out of LTSS many years ago.

[2022-03-15 14:34] ataschner commented on #873
Perhaps it would be possible to compare
<revision>
of the on-disk to what is offered in SCC ?

[2022-03-16 12:26] FevenShimelis opened #875 "Make tmp directory configurable in RMT."
When mirroring repositories with RMT the temporary files are saved under /tmp. I would like to change the path for saving those RMT temporary files.

I would like to request a feature to make the tmp directory configurable in RMT.

Thank you.

[2022-03-30 11:11] neilmunday opened #879 "Add option to RMT to only download the latest version of packages"
When mirroring a repository, RMT download's all versions of every package.

It would be great if RMT could be configured to only download the latest available version of packages, a bit like `reposync`'s `-n` option for RHEL based systems.

[2022-03-31 12:12] digitaltom commented on #879
I think this opens scenarios where users could run into dependency issues. But if you're aware of that this sounds like a useful feature.

[2022-03-31 16:45] digitaltom opened #881 "Make RMT compatible with Ruby3+"
For upcoming openSUSE / SLES distributions we should make RMT ready to run with Ruby 3.0, 3.1 etc.
At the same time we need to keep compatibility with Ruby 2.5.8, because SLES 15 will stay on that version.

Maybe it's a possibility to maintain 2 `Gemfile`s, one `Gemfile-2.5.8` and a `Gemfile-3`?
Then we could use the right Gemfile depending on which distribution we build for in https://build.opens

[2022-05-05 15:42] jonsger opened #891 "Add rmt-cli products used"
Hi folks,

it would be nice if RMT could gain a feature like good old SMT had:
[code]
So the RMT equivalent would be maybe `rmt-cli products used`

[2022-05-09 14:01] jonsger opened #893 "feature: Assign regcodes for systems via rmt-cli on RMT server"
It would be nice if one could assign regcodes via the rmt-cli interface.

So something like this
[code]
This would save you a login per system if you need to change a code or assign a new one...

[2022-06-01 09:22] digitaltom opened #902 "`rmt-cli repos clean` is not removing the license directories"
`rmt-cli repos clean` is not completely removing all of the directory structure created when the repo is mirrored.  When they disable the repo and run rmt-cli repos clean they still see the following:

/usr/share/rmt/public/repo/SUSE/Products/SLE-HA/12-SP4
/usr/share/rmt/public/repo/SUSE/Products/SLE-HA/12-SP4
/usr/share/rmt/public/repo/SUSE/Products/SLE-HA/12-SP4/x86_64
/usr/share/rmt/public/repo

[2022-06-02 11:24] Oddly commented on #702
+1

[2022-06-02 11:26] Oddly commented on #659
Try this:
rmt-cli products enable --all-modules SLES/15.3

At least works for me, is this what you're asking?

[2022-06-23 08:09] jonsger opened #906 "feature: filter out architectures for openSUSE repos"
It would be nice if one could "filter out" specific architectures from openSUSE repos. This is currently not possible because openSUSE has only one repo for all CPU architectures.

You can save quite same disk space and download bandwidth then.

[2022-06-30 08:39] digitaltom opened #911 "Fix spec/lib/suse/connect/api_spec.rb:371"
The test `spec/lib/suse/connect/api_spec.rb:371` ('X-Payload-Entities-Max-Limit') currently doesn't properly test the
server response in error case.
That gets visible when removing the `#:nocov:` in `lib/suse/connect/api.rb:75`

[2022-07-18 19:53] doccaz commented on #906
That would be wonderful. I'm currently struggling with getting thousands of unnecessary packages downloaded on my customer's RMT.

[2022-08-08 12:06] digitaltom opened #920 "RMT should re-download metadata if the file on disk has 0 byte"
When for some reason a metadata file on disk is corrupted (0 byte size),
RMT should re-download that file, even if the timestamp matches the server file.

(from https://sd.suse.com/projects/SD/queues/issue/SD-89435)

[2022-08-12 11:44] JPrazak commented on #906
I have same issue:

Product Leap 15.4  > selecting any product activate all and deselecting one deactivate all arch
| 2406 | openSUSE Leap     | 15.4    | aarch64 | Don't Mirror |
| 2407 | openSUSE Leap     | 15.4    | ppc64le | Don't Mirror |
| 2408 | openSUSE Leap     | 15.4    | s390x   | Don't Mirror |
| 2409 | openSUSE Leap     | 15.4    | x86_64  | Don't Mirror |

Repos for Leap 15.4  >  not

[2022-09-13 11:12] felixsch opened #929 "Feature: Cleanup systems which did not contact RMT after n days"
Currently RMT does not cleanup any systems. Therefore manual interaction is required to cleanup systems, which can be really hard depending on the use case.

Idea: Implement a logic which removes all systems from RMT which did not contact in `n` days. This is possible now, since 'SUSEConnect' and `SUSEConnect-ng` do send a `keepalive` if they are active (and not disabled).

By default this feature

[2022-09-14 12:32] rjschwei commented on #929
AS a note, on systems that have many registrations such a feature may lead the system to run out of memory, depending on the implementation of course.

At present the implementation via the command line, i.e. `rmt-cli systems purge -b ....` appears to collect the systems to be removed, at least when one does not run with `--no-confirm` and that list of collected systems eventually kills the the sy